@import "../color-default";

.cc-toolbar {
  background-color: $cc-white;
  //border: 1px solid $cc-border-black;
  padding: 5px 10px;
  margin-bottom: 5px;

  .title {
    font-size: 14px;
    color: $cc-dark-gray;
  }

  .cc-toolbar-item {
    min-height: 35px;

    .cc-toolbar-item__contain > * {
      margin-right: 5px !important;
    }
  }

}
