.cc-primary-color_default {
  color: #4ba7e8; }

.cc-primary-color_light {
  color: #b7d2e8; }

.cc-primary-color_dark {
  color: #1e99e8; }

.cc-primary-bg_default {
  background-color: #4ba7e8; }

.cc-primary-bg_light {
  background-color: #b7d2e8; }

.cc-primary-bg_dark {
  background-color: #1e99e8; }

.cc-black-color_default {
  color: #363636; }

.cc-black-color_light {
  color: #1A293A; }

.cc-black-color_dark {
  color: #1D2E43; }

.cc-black-bg_default {
  background-color: #363636; }

.cc-black-bg_light {
  background-color: #1A293A; }

.cc-black-bg_dark {
  background-color: #1D2E43; }

.cc-blue-color_default {
  color: #59b9f7; }

.cc-blue-color_light {
  color: #dcebf7; }

.cc-blue-color_dark {
  color: #139eff; }

.cc-blue-bg_default {
  background-color: #59b9f7; }

.cc-blue-bg_light {
  background-color: #dcebf7; }

.cc-blue-bg_dark {
  background-color: #139eff; }

.cc-white-color_default {
  color: #FFFFFF; }

.cc-white-color_light {
  color: #ECF0F0; }

.cc-white-color_dark {
  color: #d3d3d3; }

.cc-white-bg_default {
  background-color: #FFFFFF; }

.cc-white-bg_light {
  background-color: #ECF0F0; }

.cc-white-bg_dark {
  background-color: #d3d3d3; }

.cc-green-color_default {
  color: #61bec6; }

.cc-green-color_light {
  color: #94c7c9; }

.cc-green-color_dark {
  color: #0de2e2; }

.cc-green-bg_default {
  background-color: #61bec6; }

.cc-green-bg_light {
  background-color: #94c7c9; }

.cc-green-bg_dark {
  background-color: #0de2e2; }

.cc-gray-color_default {
  color: #7e8996; }

.cc-gray-color_light {
  color: #b2c5d6; }

.cc-gray-color_dark {
  color: #565e66; }

.cc-gray-bg_default {
  background-color: #7e8996; }

.cc-gray-bg_light {
  background-color: #b2c5d6; }

.cc-gray-bg_dark {
  background-color: #565e66; }

.cc-yellow-color_default {
  color: #ffa503; }

.cc-yellow-color_light {
  color: #ffb74b; }

.cc-yellow-color_dark {
  color: #e0952f; }

.cc-yellow-bg_default {
  background-color: #ffa503; }

.cc-yellow-bg_light {
  background-color: #ffb74b; }

.cc-yellow-bg_dark {
  background-color: #e0952f; }

.cc-pink-color_default {
  color: #e83e8c; }

.cc-pink-color_light {
  color: #e870ab; }

.cc-pink-color_dark {
  color: #e80f7c; }

.cc-pink-bg_default {
  background-color: #e83e8c; }

.cc-pink-bg_light {
  background-color: #e870ab; }

.cc-pink-bg_dark {
  background-color: #e80f7c; }

.cc-purple-color_default {
  color: #b07cff; }

.cc-purple-color_light {
  color: #b8aade; }

.cc-purple-color_dark {
  color: #7f50c6; }

.cc-purple-bg_default {
  background-color: #b07cff; }

.cc-purple-bg_light {
  background-color: #b8aade; }

.cc-purple-bg_dark {
  background-color: #7f50c6; }

.popover-button-group {
  display: inline-flex; }

.popover-btn {
  border-left-width: 0 !important;
  border-radius: 0 !important;
  overflow: hidden; }
  .popover-btn span {
    margin: 0 !important; }
  .popover-btn button {
    border-left-width: 0 !important;
    border-radius: 0 !important;
    overflow: hidden; }
  .popover-btn:first-child {
    border-left-width: 1px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important; }
    .popover-btn:first-child button {
      border-left-width: 1px !important;
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important; }
  .popover-btn:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important; }
    .popover-btn:last-child button {
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important; }

/*# sourceMappingURL=index.css.map */
