.cc-alter-box {
  position: absolute;
  z-index: 9999;
  min-width: 150px;
  line-height: 25px;
  height: 25px;
  left: 50%;
  padding: 5px;
  border-radius: 4px;
  transform: translateX(-50%);
  opacity: 0;
  top: 0;
  transition: top .3s, opacity .3s, transform .4s;
  overflow: hidden;
  display: flex;
  flex-direction: row; }
  .cc-alter-box .alter-box-icon {
    font-size: 24px;
    margin: 0 10px 0 5px;
    width: 20px; }
  .cc-alter-box .alter-box-message {
    text-align: center;
    margin-right: 5px;
    flex-grow: 1; }

.el-tree .el-tree-node__content {
  cursor: default;
  padding: 5px 0;
  position: relative; }
  .el-tree .el-tree-node__content .is-leaf {
    color: transparent !important; }

.mCSB_inside > .mCSB_container, .mCSB_container_wrapper {
  margin-right: 20px; }

.mCustomScrollBox .mCSB_container {
  margin-bottom: 20px !important;
  padding-right: 0 !important; }

.el-textarea textarea {
  resize: none; }

.el-menu {
  display: inline-block;
  height: 30px;
  border-bottom: 0;
  width: 130px;
  border-radius: 4px; }
  .el-menu .el-submenu__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .el-menu .el-submenu__title:hover {
    background-color: transparent !important; }
  .el-menu li, .el-menu div {
    margin: 0 !important;
    height: 30px !important;
    line-height: 30px !important;
    width: 130px !important; }

.el-menu--horizontal {
  background-color: transparent !important;
  border-bottom: 0 !important;
  border-radius: 4px; }
  .el-menu--horizontal:hover {
    background-color: transparent !important; }
  .el-menu--horizontal .el-menu {
    background-color: transparent !important;
    height: auto !important;
    border-radius: 4px; }
    .el-menu--horizontal .el-menu:hover {
      background-color: transparent !important; }
  .el-menu--horizontal .el-menu--popup {
    background-color: transparent !important;
    border-radius: 4px;
    padding: 0 !important;
    min-width: 130px !important; }
    .el-menu--horizontal .el-menu--popup:hover {
      background-color: transparent !important; }
    .el-menu--horizontal .el-menu--popup li {
      padding: 0 20px !important;
      border-bottom-width: 1px;
      border-bottom-style: solid; }
      .el-menu--horizontal .el-menu--popup li span {
        font-size: 12px !important; }
      .el-menu--horizontal .el-menu--popup li:first-child {
        border-radius: 4px 4px 0 0; }
      .el-menu--horizontal .el-menu--popup li:last-child {
        border-radius: 0 0 4px 4px;
        border-bottom: 0; }

.el-select-dropdown li {
  border-bottom-width: 1px;
  border-bottom-style: solid; }
  .el-select-dropdown li span {
    font-size: 12px !important; }
  .el-select-dropdown li:first-child {
    border-radius: 4px 4px 0 0; }
  .el-select-dropdown li:last-child {
    border-radius: 0 0 4px 4px;
    border-bottom: 0; }

.el-tabs .el-tabs__item {
  border-radius: 4px 4px 0 0;
  padding: 0 20px !important;
  transition: background .3s;
  width: auto;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 2px;
  text-align: center; }
  .el-tabs .el-tabs__item:focus {
    outline: none; }

.el-table::before, .el-table::after {
  display: none; }
.el-table td:last-child, .el-table th:last-child {
  border-right: 0; }
.el-table tr:last-child td {
  border-bottom: 0; }
.el-table td:last-child, .el-table th:last-child {
  border-right: 0; }
.el-table tr:last-child td {
  border-bottom: 0; }
.el-table th > div {
  font-weight: bold !important; }
.el-table .el-table__fixed::before, .el-table .el-table__fixed-right::before {
  display: none; }
.el-table .el-table__expanded-cell {
  padding: 10px;
  box-shadow: none;
  z-index: 9999; }
  .el-table .el-table__expanded-cell .el-carousel__container {
    height: 200px !important; }
  .el-table .el-table__expanded-cell .el-carousel__indicators, .el-table .el-table__expanded-cell .el-carousel__arrow {
    display: block; }
  .el-table .el-table__expanded-cell > div {
    z-index: 9999; }
  .el-table .el-table__expanded-cell .el-carousel {
    width: 100%;
    z-index: 9999; }

.el-dialog {
  margin-top: 10vh !important; }
  .el-dialog .el-dialog__headerbtn {
    background-color: inherit;
    border: 0; }
  .el-dialog .el-dialog__header {
    padding-bottom: 20px;
    margin: 0 10px;
    border-bottom: 1px solid gray; }
  .el-dialog .el-dialog__body {
    padding: 30px 20px 0 20px; }

.el-tabs .el-tabs__header {
  margin-bottom: 5px; }

.el-popover {
  font-size: 12px !important; }
  .el-popover h3 {
    color: #e4e4e4;
    margin: 0 0 10px 0;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

.el-popover--plain {
  padding: 10px 15px !important; }

.el-cascader-menu__item {
  width: auto !important;
  padding-right: 40px !important; }

/*# sourceMappingURL=extends.css.map */
