.isa-tree {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      flex-direction: column;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .node-content {
      height: 40px;
      line-height: 40px;
      display: flex;
      flex-direction: row;

      border-bottom: 1px solid hsla(0, 0%, 100%, .1);

      &:hover {
        background-color: rgba(21, 123, 160, .2);
      }

      .icon {
        text-align: center;
        width: 20px;
        color: #e4e4e4;
        cursor: pointer;

        padding: 0 5px;

        transition: transform .2s;
      }

      .content {
        color: #e4e4e4;
        flex-grow: 1;
      }

    }

    .node-children {

      transition: all .3s;
      position: relative;
    }
  }
}