$border-color: hsla(0, 0, 100%, .2);

$area-bg: rgba(0, 0, 0, 0.3);
$area-bar-bg: $border-color;

$menu-bg: $border-color;
$menu-bar-bg: $border-color;

$header-bar-bg: $border-color;
$footer-bar-bg: rgba(0, 0, 0, .3);
$select-item-bg: rgba(33, 65, 77, .8);
$select-item-hover-bg: rgba(130, 248, 255, .2);
$select-item-selected-bg: rgba(130, 248, 255, .4);

$green: #4eb1b4;
$pink: #ba70cc;
$blue: #547dd9;
$yellow: #c1bc6a;

.color-blue {
  color: $blue;
}

.color-green {
  color: $green;
}

.color-pink {
  color: $pink;
}

.color-yellow {
  color: $yellow;
}

.bg-color-blue {
  background-color: $blue;
  color: white;
}

.bg-color-green {
  background-color: $green;
  color: white;
}

.bg-color-pink {
  background-color: $pink;
  color: white;
}

.bg-color-yellow {
  background-color: $yellow;
  color: white;
}

.default-theme {
  background-size: contain;
  background-color: #212934;

  .level-0-color {
    color: #3478a1;
  }

  .level-0-background {
    background-color: #3478a1;
  }

  .level-1-color {
    color: #51aaa5;
  }

  .level-1-background {
    background-color: #51aaa5;
  }

  .level-2-color {
    color: #e7d5a0;
  }

  .level-2-background {
    background-color: #e7d5a0;
  }

  .level-3-color {
    color: #f0565a;
  }

  .level-3-background {
    background-color: #f0565a;
  }

  .status-label {
    color: #cbcbcb;
  }

  .login-view {
    background: url('./images/background.jpg') no-repeat center !important;
    background-size: cover !important;
  }

  .main-view {
    background: url('./images/bg2.png') no-repeat center;
    background-size: cover;

    .bar-group {
    }
    .flex-row {
    }
    .flex-column {
    }
    .content-bar {
      //background-color: $area-bar-bg;
    }
    .header-bar {
      background-color: $header-bar-bg;
    }
    .footer-bar {
      background-color: $footer-bar-bg;
    }
    .area-left {
      background-color: $area-bg;
    }
    .area-normal {
      background-color: $area-bg;
    }
    .area-right {
      background-color: $area-bg;
    }
    .main-router {
    }
    .main-header {
      background-color: rgba(0, 0, 0, .4);

      .menu-bar {
        //background-color: $area-bar-bg;

        .menu-bar-item {

        }
      }
      .title-bar {
        //background-color: $area-bar-bg;

        .title-label {
          color: #e4e4e4;
          border-color: #1fa4f9;
        }
      }
    }
  }

  .cc-alter-box {
    background-color: rgba(34, 68, 68, .6);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

    .alter-box-message {
      color: rgb(214, 214, 214);
    }
  }

  .el-menu {
    background-color: $select-item-bg !important;

    &:hover {
      background-color: $select-item-bg !important;
    }

    .el-menu-item, .el-submenu__title {
      span, i {
        color: #e4e4e4;
      }
    }

    .is-active {
      border-radius: 4px;
      overflow: hidden;
      .el-submenu__title {
        $active-color: #2b636f;
        background-color: $active-color;
        * {
          color: #e1dedf !important;
        }
        &:hover {
          background-color: $active-color !important;
        }
      }
    }
  }

  .el-menu--horizontal {

    .el-menu--popup {

      .el-menu-item {
        background-color: $select-item-bg;
        border-bottom-color: $border-color !important;

        &:hover {
          background-color: $select-item-hover-bg;
        }
      }

      .is-active {
        background-color: $select-item-selected-bg !important;

        .el-menu-item:hover {
          background-color: $select-item-selected-bg !important;
        }
      }
    }
  }

  .el-select-dropdown {
    border-radius: 6px;
    border: 0 !important;
    background-color: transparent !important;

    div {
      border-radius: 5px;
      background-color: transparent !important;
    }

    * {
      color: #e4e4e4;
    }

    ul {
      background-color: $select-item-bg !important;
      padding: 0;
    }

    .el-select-dropdown__item {
      border-bottom-color: $border-color !important;
      background-color: $select-item-bg !important;
    }

    .el-select-dropdown__item:hover {
      background-color: $select-item-hover-bg !important;
    }

    .selected {
      background-color: $select-item-selected-bg !important;

      &:hover {
        background-color: $select-item-selected-bg !important;
      }
    }
  }

  .el-picker-panel {
    background-color: rgba(14, 42, 57, 0.96);
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: none;

    button {
      color: #cbcbcb;

      &:hover {
        color: rgba(21, 123, 160, .8);
      }
    }

    th, .el-date-picker__header-label {
      color: #cbcbcb;

      &:hover {
        color: rgba(21, 123, 160, .8);
      }
    }

    .el-picker-panel__content {
      background-color: rgba(14, 42, 57, 0.96);
      border-color: rgba(255, 255, 255, 0.3);
    }

    .el-picker-panel__sidebar {
      background-color: rgba(14, 42, 57, 0.96);
      border-color: rgba(255, 255, 255, 0.3);
    }

    .el-picker-panel__sidebar button {
      color: #e4e4e4 !important;
    }

    .el-picker-panel__sidebar button:hover {
      //background-color: rgba(35, 77, 89, 0.81) !important;
    }

    .el-date-table td.in-range {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }

      div {
        background-color: rgb(19, 57, 76);

        &:hover {
          background-color: rgba(19, 57, 76, .3) !important;
        }
      }
    }

    td:hover {
      background-color: rgba(255, 255, 255, .3);
    }

    td.available:hover {
      background-color: rgba(255, 255, 255, .3);
    }
  }

  .el-range-editor {
    background-color: $area-bg;
    border: 1px solid rgba(255, 255, 255, .3) !important;

    &:hover {
      border: 1px solid $select-item-hover-bg !important;
    }

    .el-range-separator {
      color: #cbcbcb;
    }

    .in-range div {
      background-color: #1c3342 !important;
    }

    input {
      background-color: transparent;
      color: #cbcbcb;
    }
  }

  .el-dialog {
    color: #e4e4e4;
    background-color: rgba(45, 67, 75, .9) !important;

    span, label {
      color: #d4d4d4;
    }

    .el-form-item.is-error .el-input__inner {
      border-color: rgba(255, 73, 73, 0.5) !important;

    }

    .el-form-item__label::before {
      color: rgba(255, 73, 73, 0.7) !important;
    }

    .el-form-item__error {
      color: rgba(255, 73, 73, 0.7) !important;
    }

    .el-dialog__header {
      border-bottom: 1px solid gray;
    }
  }

  .el-tabs {
    .el-tabs__nav-wrap {
      &::after {
        background-color: rgba(33, 93, 125, 0.87);
      }
    }

    .el-tabs__active-bar {
      display: none;
      background-color: rgba(21, 123, 160, 1);
    }

    .el-tabs__item {
      color: rgba(255, 255, 255, .5);
      border-radius: 4px 4px 0 0;
      padding: 0 20px !important;
      transition: background .3s;
      background-color: rgba(21, 123, 160, .2);

      &:hover {
        background-color: rgba(21, 123, 160, .4);
        color: rgba(255, 255, 255, .8);
      }
    }

    .is-active {
      background-color: rgba(21, 123, 160, .8) !important;
      color: #cbcbcb !important;
    }
  }

  .el-popover {
    background-color: #00283C;
    border-color: $border-color;
    color: #cbcbcb;
  }

  .is-loading::before {
    background-color: rgba(0, 0, 0, .3) !important;
  }

  .el-tree {
    background-color: inherit !important;

    .el-tree__empty-text {
      color: rgba(255, 255, 255, .3);
    }

    .el-tree-node__content:hover {
      background-color: rgba(21, 123, 160, 0.2) !important;
    }

    .is-current {
      & > .el-tree-node__content {
        background-color: rgba(21, 123, 160, 0.5) !important;
      }

      & > .el-tree-node__content:hover {
        background-color: rgba(21, 123, 160, 0.5) !important;
      }
    }

    .el-tree-node__content {
      background-color: rgba(0, 0, 0, .1) !important;
      border-bottom: 1px solid rgba(255, 255, 255, .1) !important;
      span {
        color: #cbcbcb;
      }
    }
  }

  .el-radio-group {
    .is-checked {
      span {
        color: rgba(21, 123, 160, 1);
      }

      .el-radio__inner {
        background-color: rgba(21, 123, 160, 1);
        border-color: rgba(255, 255, 255, .3);

        &::after {
          background-color: rgba(255, 255, 255, .7);
          width: 6px;
          height: 6px;
        }
      }
    }

    span {
      color: rgba(255, 255, 255, .4);
      font-weight: normal;
    }

    .el-radio__inner {
      border-color: rgba(255, 255, 255, .3);
      background-color: rgba(0, 0, 0, .3);

      &::after {
        background-color: rgba(255, 255, 255, .7);
        width: 6px;
        height: 6px;
      }
    }
  }

  .el-button {
    border-color: $border-color !important;
  }

  .el-button.is-disabled {
    background-color: rgba(0, 0, 0, 0.3) !important;

    &:focus {
      background-color: rgba(0, 0, 0, 0.3) !important;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.3) !important;
    }

    span {
      color: rgba(255, 255, 255, .3) !important;
    }
  }

  .el-button--info, .el-button--default {
    background-color: rgba(13, 27, 44, 0.3) !important;

    span {
      color: rgba(255, 255, 255, .3);
    }

    &:hover {
      background-color: rgba(13, 27, 44, 0.6) !important;

      span {
        color: #cbcbcb;
      }
    }
  }

  .el-button--danger {
    background-color: rgba(143, 3, 9, .6) !important;

    &:hover {
      background-color: rgba(143, 3, 9, 1) !important;
    }
  }

  .el-button--primary {
    background-color: rgba(0, 130, 213, 0.4) !important;

    &:hover {
      background-color: #0092f0 !important;
    }
  }

  .el-message-box {
    border-color: $border-color;
    span {
      color: #cbcbcb;
    }
    background-color: rgba(45, 67, 75, 0.9) !important;

    .el-message-box__message {
      p {
        color: #cbcbcb;
      }
    }
  }

  .el-loading-mask {
    background-color: rgba(0, 0, 0, .7);
  }

  .is-disabled {
    input, textarea {
      border-color: $border-color !important;
      background-color: rgba(255, 255, 255, .1) !important;
      color: rgba(255, 255, 255, .5) !important;
    }
  }

  .is-success {
    input {
      border-color: #1fa4f9 !important;
    }
  }

  .el-input, .el-textarea {
    input, textarea {
      background-color: rgba(0, 0, 0, .3);
      border-color: hsla(0, 0, 100%, .3);
      color: #cbcbcb;

      $placeholder: rgba(255, 255, 255, .3);

      &:hover {
        border-color: rgba(87, 182, 182, 0.4);
      }

      &:focus {
        border-color: rgba(21, 123, 160, .8);
      }

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $placeholder !important;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $placeholder !important;
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        color: $placeholder !important;
      }
    }
  }

  //.el-table__fixed, .el-table__fixed-right {
  //  th {
  //    background-color: rgb(28, 51, 66) !important;
  //  }
  //
  //  th, td {
  //    background-color: rgb(28, 51, 66);
  //    border-color: $border-color !important;
  //
  //    & > div {
  //      color: #cbcbcb !important;
  //      font-weight: bold !important;
  //      background-color: rgba(0, 0, 0, 1);
  //    }
  //  }
  //
  //  .current-row {
  //    tr, td {
  //      background-color: rgb(53, 107, 107) !important;
  //    }
  //  }
  //
  //  .hover-row {
  //    td {
  //      background-color: rgb(24, 68, 93);
  //    }
  //  }
  //
  //}

  .el-table {
    color: #d7d7d7;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);

    .el-table__row:hover {
      td {
        background-color: rgba(87, 182, 182, 0.2);
      }
    }

    .expand-body {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }

    td, th {
      border-color: $border-color !important;
    }

    .el-checkbox__inner {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .is-disabled {
      .el-chekcbox__inner {
        background-color: rgba(0, 0, 0, 0.2) !important;
      }
    }

    th {
      background-color: rgba(255, 255, 255, 0.1);

      & > div {
        color: #cbcbcb !important;
        font-weight: bold !important;
        background-color: rgba(255, 255, 255, 0);
      }
    }

    td, th {
      & > div {
        background-color: transparent;
      }
    }

    tr {
      background-color: rgba(0, 0, 0, 0.4);
    }

    tr:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .el-table__body-wrapper {
      .current-row {
        tr, td {
          background-color: rgba(87, 182, 182, 0.4) !important;
        }
      }

      .hover-row {
        td {
          background-color: rgba(87, 182, 182, 0.2);
        }
      }
    }

    .el-table__expanded-cell {
      background-color: transparent;

      & > div {
        background-color: transparent;
      }
    }

    .el-table__expanded-cell:hover {
      background-color: transparent;
    }
  }

  .el-pagination {
    span {
      color: #e4e4e4 !important;
    }

    li:hover, button:hover {
      color: rgba(114, 209, 212, 0.88) !important;
    }

    button {
      color: #e4e4e4 !important;
      border: 1px solid rgba(255, 255, 255, 0.1) !important;
      background-color: rgba(0, 0, 0, 0.4) !important;
    }

    input {
      color: #e4e4e4 !important;
      border: 1px solid rgba(255, 255, 255, 0.1) !important;
      background-color: rgba(0, 0, 0, 0.4) !important;
    }

    li {
      color: #e4e4e4 !important;
      border: 1px solid rgba(255, 255, 255, 0.1) !important;
      background-color: rgba(0, 0, 0, 0.4) !important;

      &:hover {
        background-color: rgba(43, 120, 177, 0.2) !important;
      }
    }

    li.active {
      color: rgba(114, 209, 212, 0.88) !important;
      background-color: rgba(43, 120, 177, 0.4) !important;
    }

    .el-select {
      .el-input {

        & > input {
          background-color: rgba(255, 255, 255, 0.1) !important;
          color: #e4e4e4 !important;
          border: 1px solid rgba(255, 255, 255, 0.2) !important;
        }
      }
    }
  }

  .debug {
    border-color: #ffffff !important;
  }

  .el-popover {
    $bkColor: rgb(35, 66, 84);
    background-color: $bkColor;
    color: #cbcbcb;

    label {
      color: #e4e4e4;
    }

    &[x-placement^="bottom"] {
      .popper__arrow {
        color: $bkColor !important;
        border-bottom-color: rgba(255, 255, 255, 0.2) !important;

        &::after {
          bottom: 0 !important;
          border-bottom-color: $bkColor !important;
        }
      }
    }

    &[x-placement^="top"] {
      .popper__arrow {
        color: $bkColor !important;
        border-top-color: rgba(255, 255, 255, 0.2) !important;

        &::after {
          bottom: 0 !important;
          border-top-color: $bkColor !important;
        }
      }
    }
  }
}

.el-tooltip__popper {
  $bkColor: rgb(35, 66, 84);
  background-color: $bkColor !important;

  .popper__arrow {
    color: $bkColor !important;

    &::after {
      bottom: 0 !important;
      border-top-color: $bkColor !important;
    }
  }
}

.el-switch {

  .is-active {
    span {
      color: rgba(130, 248, 255, 0.8) !important;
    }
  }

  .el-switch__core {
    background-color: rgba(255, 255, 255, .3) !important;
    border-color: rgba(255, 255, 255, .3) !important;
  }

  .el-switch__label {
    span {
      color: rgba(255, 255, 255, .3);
    }
  }
}

.el-checkbox {
  .el-checkbox__inner {
    background-color: rgba(255, 255, 255, .3) !important;
    border-color: rgba(255, 255, 255, .3) !important;
  }

  .is-disabled {
    .el-checkbox__inner {
      background-color: rgba(255, 255, 255, .1) !important;
      border-color: rgba(255, 255, 255, .1) !important;
    }
  }

}

.el-switch.is-checked .el-switch__core {
  background-color: rgba(130, 248, 255, 0.4) !important;
  border-color: rgba(130, 248, 255, 0.4) !important;
}

.el-cascader {
  .el-cascader__label {
    color: #cbcbcb;
  }
}

.el-cascader-menus {
  //$border-color: rgba(255, 255, 255, .3);
  background-color: transparent !important;
  border-color: $border-color !important;

  ul {
    padding: 0;
    background-color: #00283C;
    border-color: $border-color !important;

    li {
      color: rgba(255, 255, 255, 0.5);
      background-color: transparent !important;
      &:hover {
        background-color: rgba(255, 255, 255, .2) !important;
      }
    }

    .is-active {
      background-color: rgba(255, 255, 255, .1) !important;
      &:hover {
        background-color: rgba(255, 255, 255, .1) !important;
      }
    }
  }
}
