.default-theme {
  .main-view {
    background: url('./images/bg2.png') no-repeat center;
    background-size: cover;

    .bar-group {
    }
    .flex-row {
    }
    .flex-column {
    }
    .content-bar {
    }
    .header-bar {
    }
    .footer-bar {
    }
    .area-left {
    }
    .area-right {
    }
    .main-router {
    }
    .main-header {
      .menu-bar {
        .menu-bar-item {
        }
      }
      .title-bar {
        .title-label {
          color: #e4e4e4;
        }
      }
    }
  }
  .debug {
    border-color: #ffffff;
  }
}
