.common-background {
  background-color: #3D4D65; }

.color-blue {
  color: #547dd9; }

.color-green {
  color: #4eb1b4; }

.color-pink {
  color: #ba70cc; }

.color-yellow {
  color: #c1bc6a; }

.bg-color-blue {
  background-color: #547dd9;
  color: white; }

.bg-color-green {
  background-color: #4eb1b4;
  color: white; }

.bg-color-pink {
  background-color: #ba70cc;
  color: white; }

.bg-color-yellow {
  background-color: #c1bc6a;
  color: white; }

.default-theme {
  background-size: contain;
  background-color: #212934; }
  .default-theme .level-0-color {
    color: #3478a1; }
  .default-theme .level-0-background {
    background-color: #3478a1; }
  .default-theme .level-1-color {
    color: #51aaa5; }
  .default-theme .level-1-background {
    background-color: #51aaa5; }
  .default-theme .level-2-color {
    color: #e7d5a0; }
  .default-theme .level-2-background {
    background-color: #e7d5a0; }
  .default-theme .level-3-color {
    color: #f0565a; }
  .default-theme .level-3-background {
    background-color: #f0565a; }
  .default-theme .status-label {
    color: #cbcbcb; }
  .default-theme .login-view {
    background: url("./images/background.jpg") no-repeat center !important;
    background-size: cover !important; }
  .default-theme .main-view {
    background: url("./images/bg2.png") no-repeat center;
    background-size: cover; }
    .default-theme .main-view .header-bar {
      background-color: rgba(255, 255, 255, 0.2); }
    .default-theme .main-view .footer-bar {
      background-color: rgba(0, 0, 0, 0.3); }
    .default-theme .main-view .area-left {
      background-color: rgba(0, 0, 0, 0.3); }
    .default-theme .main-view .area-normal {
      background-color: rgba(0, 0, 0, 0.3); }
    .default-theme .main-view .area-right {
      background-color: rgba(0, 0, 0, 0.3); }
    .default-theme .main-view .main-header {
      background-color: rgba(0, 0, 0, 0.4); }
      .default-theme .main-view .main-header .title-bar .title-label {
        color: #e4e4e4;
        border-color: #1fa4f9; }
  .default-theme .cc-alter-box {
    background-color: rgba(34, 68, 68, 0.6);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
    .default-theme .cc-alter-box .alter-box-message {
      color: #d6d6d6; }
  .default-theme .el-menu {
    background-color: rgba(33, 65, 77, 0.8) !important; }
    .default-theme .el-menu:hover {
      background-color: rgba(33, 65, 77, 0.8) !important; }
    .default-theme .el-menu .el-menu-item span, .default-theme .el-menu .el-menu-item i, .default-theme .el-menu .el-submenu__title span, .default-theme .el-menu .el-submenu__title i {
      color: #e4e4e4; }
    .default-theme .el-menu .is-active {
      border-radius: 4px;
      overflow: hidden; }
      .default-theme .el-menu .is-active .el-submenu__title {
        background-color: #2b636f; }
        .default-theme .el-menu .is-active .el-submenu__title * {
          color: #e1dedf !important; }
        .default-theme .el-menu .is-active .el-submenu__title:hover {
          background-color: #2b636f !important; }
  .default-theme .el-menu--horizontal .el-menu--popup .el-menu-item {
    background-color: rgba(33, 65, 77, 0.8);
    border-bottom-color: rgba(255, 255, 255, 0.2) !important; }
    .default-theme .el-menu--horizontal .el-menu--popup .el-menu-item:hover {
      background-color: rgba(130, 248, 255, 0.2); }
  .default-theme .el-menu--horizontal .el-menu--popup .is-active {
    background-color: rgba(130, 248, 255, 0.4) !important; }
    .default-theme .el-menu--horizontal .el-menu--popup .is-active .el-menu-item:hover {
      background-color: rgba(130, 248, 255, 0.4) !important; }
  .default-theme .el-select-dropdown {
    border-radius: 6px;
    border: 0 !important;
    background-color: transparent !important; }
    .default-theme .el-select-dropdown div {
      border-radius: 5px;
      background-color: transparent !important; }
    .default-theme .el-select-dropdown * {
      color: #e4e4e4; }
    .default-theme .el-select-dropdown ul {
      background-color: rgba(33, 65, 77, 0.8) !important;
      padding: 0; }
    .default-theme .el-select-dropdown .el-select-dropdown__item {
      border-bottom-color: rgba(255, 255, 255, 0.2) !important;
      background-color: rgba(33, 65, 77, 0.8) !important; }
    .default-theme .el-select-dropdown .el-select-dropdown__item:hover {
      background-color: rgba(130, 248, 255, 0.2) !important; }
    .default-theme .el-select-dropdown .selected {
      background-color: rgba(130, 248, 255, 0.4) !important; }
      .default-theme .el-select-dropdown .selected:hover {
        background-color: rgba(130, 248, 255, 0.4) !important; }
  .default-theme .el-picker-panel {
    background-color: rgba(14, 42, 57, 0.96);
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: none; }
    .default-theme .el-picker-panel button {
      color: #cbcbcb; }
      .default-theme .el-picker-panel button:hover {
        color: rgba(21, 123, 160, 0.8); }
    .default-theme .el-picker-panel th, .default-theme .el-picker-panel .el-date-picker__header-label {
      color: #cbcbcb; }
      .default-theme .el-picker-panel th:hover, .default-theme .el-picker-panel .el-date-picker__header-label:hover {
        color: rgba(21, 123, 160, 0.8); }
    .default-theme .el-picker-panel .el-picker-panel__content {
      background-color: rgba(14, 42, 57, 0.96);
      border-color: rgba(255, 255, 255, 0.3); }
    .default-theme .el-picker-panel .el-picker-panel__sidebar {
      background-color: rgba(14, 42, 57, 0.96);
      border-color: rgba(255, 255, 255, 0.3); }
    .default-theme .el-picker-panel .el-picker-panel__sidebar button {
      color: #e4e4e4 !important; }
    .default-theme .el-picker-panel .el-date-table td.in-range {
      background-color: transparent; }
      .default-theme .el-picker-panel .el-date-table td.in-range:hover {
        background-color: transparent; }
      .default-theme .el-picker-panel .el-date-table td.in-range div {
        background-color: #13394c; }
        .default-theme .el-picker-panel .el-date-table td.in-range div:hover {
          background-color: rgba(19, 57, 76, 0.3) !important; }
    .default-theme .el-picker-panel td:hover {
      background-color: rgba(255, 255, 255, 0.3); }
    .default-theme .el-picker-panel td.available:hover {
      background-color: rgba(255, 255, 255, 0.3); }
  .default-theme .el-range-editor {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3) !important; }
    .default-theme .el-range-editor:hover {
      border: 1px solid rgba(130, 248, 255, 0.2) !important; }
    .default-theme .el-range-editor .el-range-separator {
      color: #cbcbcb; }
    .default-theme .el-range-editor .in-range div {
      background-color: #1c3342 !important; }
    .default-theme .el-range-editor input {
      background-color: transparent;
      color: #cbcbcb; }
  .default-theme .el-dialog {
    color: #e4e4e4;
    background-color: rgba(45, 67, 75, 0.9) !important; }
    .default-theme .el-dialog span, .default-theme .el-dialog label {
      color: #d4d4d4; }
    .default-theme .el-dialog .el-form-item.is-error .el-input__inner {
      border-color: rgba(255, 73, 73, 0.5) !important; }
    .default-theme .el-dialog .el-form-item__label::before {
      color: rgba(255, 73, 73, 0.7) !important; }
    .default-theme .el-dialog .el-form-item__error {
      color: rgba(255, 73, 73, 0.7) !important; }
    .default-theme .el-dialog .el-dialog__header {
      border-bottom: 1px solid gray; }
  .default-theme .el-tabs .el-tabs__nav-wrap::after {
    background-color: rgba(33, 93, 125, 0.87); }
  .default-theme .el-tabs .el-tabs__active-bar {
    display: none;
    background-color: #157ba0; }
  .default-theme .el-tabs .el-tabs__item {
    color: rgba(255, 255, 255, 0.5);
    border-radius: 4px 4px 0 0;
    padding: 0 20px !important;
    transition: background .3s;
    background-color: rgba(21, 123, 160, 0.2); }
    .default-theme .el-tabs .el-tabs__item:hover {
      background-color: rgba(21, 123, 160, 0.4);
      color: rgba(255, 255, 255, 0.8); }
  .default-theme .el-tabs .is-active {
    background-color: rgba(21, 123, 160, 0.8) !important;
    color: #cbcbcb !important; }
  .default-theme .el-popover {
    background-color: #00283C;
    border-color: rgba(255, 255, 255, 0.2);
    color: #cbcbcb; }
  .default-theme .is-loading::before {
    background-color: rgba(0, 0, 0, 0.3) !important; }
  .default-theme .el-tree {
    background-color: inherit !important; }
    .default-theme .el-tree .el-tree__empty-text {
      color: rgba(255, 255, 255, 0.3); }
    .default-theme .el-tree .el-tree-node__content:hover {
      background-color: rgba(21, 123, 160, 0.2) !important; }
    .default-theme .el-tree .is-current > .el-tree-node__content {
      background-color: rgba(21, 123, 160, 0.5) !important; }
    .default-theme .el-tree .is-current > .el-tree-node__content:hover {
      background-color: rgba(21, 123, 160, 0.5) !important; }
    .default-theme .el-tree .el-tree-node__content {
      background-color: rgba(0, 0, 0, 0.1) !important;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important; }
      .default-theme .el-tree .el-tree-node__content span {
        color: #cbcbcb; }
  .default-theme .el-radio-group .is-checked span {
    color: #157ba0; }
  .default-theme .el-radio-group .is-checked .el-radio__inner {
    background-color: #157ba0;
    border-color: rgba(255, 255, 255, 0.3); }
    .default-theme .el-radio-group .is-checked .el-radio__inner::after {
      background-color: rgba(255, 255, 255, 0.7);
      width: 6px;
      height: 6px; }
  .default-theme .el-radio-group span {
    color: rgba(255, 255, 255, 0.4);
    font-weight: normal; }
  .default-theme .el-radio-group .el-radio__inner {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.3); }
    .default-theme .el-radio-group .el-radio__inner::after {
      background-color: rgba(255, 255, 255, 0.7);
      width: 6px;
      height: 6px; }
  .default-theme .el-button {
    border-color: rgba(255, 255, 255, 0.2) !important; }
  .default-theme .el-button.is-disabled {
    background-color: rgba(0, 0, 0, 0.3) !important; }
    .default-theme .el-button.is-disabled:focus {
      background-color: rgba(0, 0, 0, 0.3) !important; }
    .default-theme .el-button.is-disabled:hover {
      background-color: rgba(0, 0, 0, 0.3) !important; }
    .default-theme .el-button.is-disabled span {
      color: rgba(255, 255, 255, 0.3) !important; }
  .default-theme .el-button--info, .default-theme .el-button--default {
    background-color: rgba(13, 27, 44, 0.3) !important; }
    .default-theme .el-button--info span, .default-theme .el-button--default span {
      color: rgba(255, 255, 255, 0.3); }
    .default-theme .el-button--info:hover, .default-theme .el-button--default:hover {
      background-color: rgba(13, 27, 44, 0.6) !important; }
      .default-theme .el-button--info:hover span, .default-theme .el-button--default:hover span {
        color: #cbcbcb; }
  .default-theme .el-button--danger {
    background-color: rgba(143, 3, 9, 0.6) !important; }
    .default-theme .el-button--danger:hover {
      background-color: #8f0309 !important; }
  .default-theme .el-button--primary {
    background-color: rgba(0, 130, 213, 0.4) !important; }
    .default-theme .el-button--primary:hover {
      background-color: #0092f0 !important; }
  .default-theme .el-message-box {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(45, 67, 75, 0.9) !important; }
    .default-theme .el-message-box span {
      color: #cbcbcb; }
    .default-theme .el-message-box .el-message-box__message p {
      color: #cbcbcb; }
  .default-theme .el-loading-mask {
    background-color: rgba(0, 0, 0, 0.7); }
  .default-theme .is-disabled input, .default-theme .is-disabled textarea {
    border-color: rgba(255, 255, 255, 0.2) !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: rgba(255, 255, 255, 0.5) !important; }
  .default-theme .is-success input {
    border-color: #1fa4f9 !important; }
  .default-theme .el-input input, .default-theme .el-input textarea, .default-theme .el-textarea input, .default-theme .el-textarea textarea {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
    color: #cbcbcb; }
    .default-theme .el-input input:hover, .default-theme .el-input textarea:hover, .default-theme .el-textarea input:hover, .default-theme .el-textarea textarea:hover {
      border-color: rgba(87, 182, 182, 0.4); }
    .default-theme .el-input input:focus, .default-theme .el-input textarea:focus, .default-theme .el-textarea input:focus, .default-theme .el-textarea textarea:focus {
      border-color: rgba(21, 123, 160, 0.8); }
    .default-theme .el-input input::placeholder, .default-theme .el-input textarea::placeholder, .default-theme .el-textarea input::placeholder, .default-theme .el-textarea textarea::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(255, 255, 255, 0.3) !important;
      opacity: 1;
      /* Firefox */ }
    .default-theme .el-input input:-ms-input-placeholder, .default-theme .el-input textarea:-ms-input-placeholder, .default-theme .el-textarea input:-ms-input-placeholder, .default-theme .el-textarea textarea:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgba(255, 255, 255, 0.3) !important; }
    .default-theme .el-input input::-ms-input-placeholder, .default-theme .el-input textarea::-ms-input-placeholder, .default-theme .el-textarea input::-ms-input-placeholder, .default-theme .el-textarea textarea::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgba(255, 255, 255, 0.3) !important; }
  .default-theme .el-table {
    color: #d7d7d7;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2); }
    .default-theme .el-table .el-table__row:hover td {
      background-color: rgba(87, 182, 182, 0.2); }
    .default-theme .el-table .expand-body {
      background-color: rgba(0, 0, 0, 0.2) !important; }
    .default-theme .el-table td, .default-theme .el-table th {
      border-color: rgba(255, 255, 255, 0.2) !important; }
    .default-theme .el-table .el-checkbox__inner {
      background-color: rgba(255, 255, 255, 0.2); }
    .default-theme .el-table .is-disabled .el-chekcbox__inner {
      background-color: rgba(0, 0, 0, 0.2) !important; }
    .default-theme .el-table th {
      background-color: rgba(255, 255, 255, 0.1); }
      .default-theme .el-table th > div {
        color: #cbcbcb !important;
        font-weight: bold !important;
        background-color: rgba(255, 255, 255, 0); }
    .default-theme .el-table td > div, .default-theme .el-table th > div {
      background-color: transparent; }
    .default-theme .el-table tr {
      background-color: rgba(0, 0, 0, 0.4); }
    .default-theme .el-table tr:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.1); }
    .default-theme .el-table .el-table__body-wrapper .current-row tr, .default-theme .el-table .el-table__body-wrapper .current-row td {
      background-color: rgba(87, 182, 182, 0.4) !important; }
    .default-theme .el-table .el-table__body-wrapper .hover-row td {
      background-color: rgba(87, 182, 182, 0.2); }
    .default-theme .el-table .el-table__expanded-cell {
      background-color: transparent; }
      .default-theme .el-table .el-table__expanded-cell > div {
        background-color: transparent; }
    .default-theme .el-table .el-table__expanded-cell:hover {
      background-color: transparent; }
  .default-theme .el-pagination span {
    color: #e4e4e4 !important; }
  .default-theme .el-pagination li:hover, .default-theme .el-pagination button:hover {
    color: rgba(114, 209, 212, 0.88) !important; }
  .default-theme .el-pagination button {
    color: #e4e4e4 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    background-color: rgba(0, 0, 0, 0.4) !important; }
  .default-theme .el-pagination input {
    color: #e4e4e4 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    background-color: rgba(0, 0, 0, 0.4) !important; }
  .default-theme .el-pagination li {
    color: #e4e4e4 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    background-color: rgba(0, 0, 0, 0.4) !important; }
    .default-theme .el-pagination li:hover {
      background-color: rgba(43, 120, 177, 0.2) !important; }
  .default-theme .el-pagination li.active {
    color: rgba(114, 209, 212, 0.88) !important;
    background-color: rgba(43, 120, 177, 0.4) !important; }
  .default-theme .el-pagination .el-select .el-input > input {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: #e4e4e4 !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important; }
  .default-theme .debug {
    border-color: #ffffff !important; }
  .default-theme .el-popover {
    background-color: #234254;
    color: #cbcbcb; }
    .default-theme .el-popover label {
      color: #e4e4e4; }
    .default-theme .el-popover[x-placement^="bottom"] .popper__arrow {
      color: #234254 !important;
      border-bottom-color: rgba(255, 255, 255, 0.2) !important; }
      .default-theme .el-popover[x-placement^="bottom"] .popper__arrow::after {
        bottom: 0 !important;
        border-bottom-color: #234254 !important; }
    .default-theme .el-popover[x-placement^="top"] .popper__arrow {
      color: #234254 !important;
      border-top-color: rgba(255, 255, 255, 0.2) !important; }
      .default-theme .el-popover[x-placement^="top"] .popper__arrow::after {
        bottom: 0 !important;
        border-top-color: #234254 !important; }

.el-tooltip__popper {
  background-color: #234254 !important; }
  .el-tooltip__popper .popper__arrow {
    color: #234254 !important; }
    .el-tooltip__popper .popper__arrow::after {
      bottom: 0 !important;
      border-top-color: #234254 !important; }

.el-switch .is-active span {
  color: rgba(130, 248, 255, 0.8) !important; }
.el-switch .el-switch__core {
  background-color: rgba(255, 255, 255, 0.3) !important;
  border-color: rgba(255, 255, 255, 0.3) !important; }
.el-switch .el-switch__label span {
  color: rgba(255, 255, 255, 0.3); }

.el-checkbox .el-checkbox__inner {
  background-color: rgba(255, 255, 255, 0.3) !important;
  border-color: rgba(255, 255, 255, 0.3) !important; }
.el-checkbox .is-disabled .el-checkbox__inner {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-color: rgba(255, 255, 255, 0.1) !important; }

.el-switch.is-checked .el-switch__core {
  background-color: rgba(130, 248, 255, 0.4) !important;
  border-color: rgba(130, 248, 255, 0.4) !important; }

.el-cascader .el-cascader__label {
  color: #cbcbcb; }

.el-cascader-menus {
  background-color: transparent !important;
  border-color: rgba(255, 255, 255, 0.2) !important; }
  .el-cascader-menus ul {
    padding: 0;
    background-color: #00283C;
    border-color: rgba(255, 255, 255, 0.2) !important; }
    .el-cascader-menus ul li {
      color: rgba(255, 255, 255, 0.5);
      background-color: transparent !important; }
      .el-cascader-menus ul li:hover {
        background-color: rgba(255, 255, 255, 0.2) !important; }
    .el-cascader-menus ul .is-active {
      background-color: rgba(255, 255, 255, 0.1) !important; }
      .el-cascader-menus ul .is-active:hover {
        background-color: rgba(255, 255, 255, 0.1) !important; }

/*# sourceMappingURL=theme-default.css.map */
