$cc-primary: #17a2b8;

$cc-black: #363636;
$cc-white: #FFFFFF;
$cc-blue: #328CDE;
$cc-green: #0BC1C1;
$cc-red: #e2131b;
$cc-yellow: #ffa503;
$cc-gray: #7e8996;
$cc-purple: #6f6EAB;
$cc-pink: #e83e8c;

$cc-light-black: #1A293A;
$cc-light-blue: #00B2DC;
$cc-light-green: #28a745;
$cc-light-red: #e16068;
$cc-light-yellow: #ffb74b;
$cc-light-gray: #b2c5d6;

$cc-dark-black: #1D2E43;
$cc-dark-white: #ECF0F0;
$cc-dark-blue: #dcebf7;
$cc-dark-gray: #565e66;

$cc-border-black: rgba(0, 0, 0, .125);
$cc-border-white: rgba(255, 255, 255, .125);
