@import "layout-default";
@import "toolbar/index";
@import "menu/index";
@import "table/index";
@import "form/index";
@import "button/index";
@import "dialog/index";
@import "popover/index";

body {
  background-color: $cc-light-white;
}

.mCSB_draggerRail {
  background-color: $cc-light-white !important;
  border-radius: 0 !important;
}

.mCSB_container {
  display: flex;
  flex-direction: column;
}

.mCSB_dragger_bar {
  background-color: $cc-primary !important;

  &:hover {
    background-color: $cc-dark-primary !important;
  }
}

.el-select-dropdown {
  .el-select-dropdown__list {
    padding: 0;
  }
  li {
    border-color: $cc-border-black !important;
  }
}
