body {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: Helvetica, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif; }

.font-10 {
  font-size: 10px; }

.font-12 {
  font-size: 12px; }

.font-14 {
  font-size: 14px; }

.font-16 {
  font-size: 16px; }

.font-18 {
  font-size: 18px; }

.flex-row {
  display: flex;
  flex-direction: row !important; }

.flex-column {
  display: flex;
  flex-direction: column !important; }

.flex-grow {
  flex: 1; }

.flex-center {
  display: flex;
  justify-content: center !important;
  align-items: center !important; }

.flex-j-center {
  display: flex;
  justify-content: center !important; }

.flex-a-center {
  display: flex;
  align-items: center !important; }

.abs-area {
  position: absolute; }

.rel-area {
  position: relative; }

.abs-max {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.abs-left {
  left: 0; }

.abs-right {
  right: 0; }

.abs-top {
  top: 0; }

.abs-bottom {
  bottom: 0; }

.abs-max-height {
  top: 0;
  bottom: 0; }

.abs-max-width {
  right: 0;
  left: 0; }

.cc-toolbar {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 5px 10px;
  margin-bottom: 5px; }
  .cc-toolbar .title {
    font-size: 14px;
    color: #565e66; }
  .cc-toolbar .bar-item {
    height: 40px; }
    .cc-toolbar .bar-item > div > div {
      margin-right: 5px !important; }

.hidden {
  width: 50px !important; }
  .hidden .cc-menu-item__children {
    display: none !important; }
  .hidden .cc-menu-item__icon {
    margin-left: 5px !important; }

.cc-menu {
  width: 240px;
  overflow: hidden;
  background-color: #1D2E43;
  transition: width .3s; }
  .cc-menu .cc-menu-header {
    height: 70px; }
  .cc-menu .choose-title > .cc-menu-item__content {
    background-color: #1A293A;
    color: #b2c5d6 !important; }
    .cc-menu .choose-title > .cc-menu-item__content:hover {
      background-color: #1A293A; }
  .cc-menu .choose-title > div .cc-menu-item__toggle {
    transform: rotate(90deg); }
  .cc-menu .choose-title > .cc-menu-item__children {
    height: auto !important; }
  .cc-menu .cc-menu-item {
    list-style: none;
    margin: 0;
    padding: 0; }
    .cc-menu .cc-menu-item .cc-menu-item__contain {
      margin: 2px 0;
      overflow: hidden;
      white-space: nowrap; }
      .cc-menu .cc-menu-item .cc-menu-item__contain .choose-node {
        background-color: #1A293A;
        color: #0BC1C1 !important; }
        .cc-menu .cc-menu-item .cc-menu-item__contain .choose-node:hover {
          background-color: #1A293A; }
      .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__content {
        height: 50px;
        line-height: 50px;
        color: #7e8996;
        transition: all .3s;
        cursor: pointer; }
        .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__content:hover {
          color: #b2c5d6;
          background-color: #1A293A; }
        .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__content .cc-menu-item__icon {
          min-width: 40px;
          max-width: 40px;
          margin-left: 10px; }
        .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__content .cc-menu-item__label {
          padding-left: 10px; }
        .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__content .cc-menu-item__toggle {
          width: 40px;
          text-align: center;
          transition: transform .3s; }
      .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__children {
        height: 0;
        overflow: hidden;
        transition: height .3s; }
        .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__children .cc-menu-item__contain {
          margin: 0; }
        .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__children .cc-menu-item__content {
          height: 40px;
          line-height: 40px; }
          .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__children .cc-menu-item__content .cc-menu-item__toggle {
            display: none; }

.el-table {
  border: 1px solid rgba(0, 0, 0, 0.125) !important; }
  .el-table .el-table__row:hover td {
    background-color: rgba(87, 182, 182, 0.2); }
  .el-table .expand-body {
    background-color: #ECF0F0 !important; }
  .el-table td, .el-table th {
    border-color: rgba(0, 0, 0, 0.125) !important; }
  .el-table .is-checked .el-checkbox__inner {
    background-color: #00B2DC !important; }
  .el-table .is-disabled .el-checkbox__inner {
    background-color: #ECF0F0; }
  .el-table th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.125) !important; }
    .el-table th > div {
      min-height: 40px !important;
      display: inline-flex !important;
      flex-direction: row;
      align-items: center;
      font-size: 16px;
      color: #1A293A;
      font-weight: bold; }
  .el-table td, .el-table th {
    color: #363636; }
    .el-table td > div, .el-table th > div {
      background-color: transparent; }
  .el-table .el-table__body-wrapper .current-row tr, .el-table .el-table__body-wrapper .current-row td {
    background-color: #00B2DC !important;
    color: white; }
  .el-table .el-table__body-wrapper .hover-row td {
    background-color: rgba(175, 182, 34, 0.2) !important; }
  .el-table .el-table__expanded-cell {
    background-color: transparent; }
    .el-table .el-table__expanded-cell > div {
      background-color: transparent; }
  .el-table .el-table__expanded-cell:hover {
    background-color: transparent; }

.table-footer-bar {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 5px 10px; }
  .table-footer-bar .bar-item {
    height: 40px; }
    .table-footer-bar .bar-item > div > div {
      margin-right: 5px !important; }

.cc-form textarea {
  resize: none; }

.el-button {
  border-color: rgba(255, 255, 255, 0.125) !important; }

.el-button.is-disabled {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-color: #b2c5d6 !important; }
  .el-button.is-disabled span {
    color: #7e8996 !important; }
  .el-button.is-disabled:hover {
    background-color: rgba(0, 0, 0, 0.3) !important; }

.el-button--info {
  background-color: #b2c5d6 !important; }
  .el-button--info span {
    color: #FFFFFF !important; }
  .el-button--info:hover {
    background-color: #7e8996 !important; }

.el-button--default {
  background-color: #b2c5d6 !important; }
  .el-button--default span {
    color: #FFFFFF !important; }
  .el-button--default:hover {
    background-color: #7e8996 !important; }

.el-button--warning {
  background-color: #ffb74b !important; }
  .el-button--warning:hover {
    background-color: #ffa503 !important; }

.el-button--danger {
  background-color: #e16068 !important; }
  .el-button--danger:hover {
    background-color: #e2131b !important; }

.el-button--primary {
  background-color: #00B2DC !important; }
  .el-button--primary:hover {
    background-color: #328CDE !important; }

.cc-dialog .el-dialog {
  background-color: #ECF0F0; }
.cc-dialog .el-dialog__body {
  padding: 10px 20px; }
.cc-dialog .el-dialog__title {
  color: #565e66 !important; }

body {
  background-color: #ECF0F0; }

.mCSB_draggerRail {
  background-color: #ECF0F0 !important; }

.mCSB_dragger_bar {
  background-color: #00B2DC !important; }
  .mCSB_dragger_bar:hover {
    background-color: #328CDE !important; }

.el-select-dropdown .el-select-dropdown__list {
  padding: 0; }
.el-select-dropdown li {
  border-color: rgba(0, 0, 0, 0.125) !important; }

/*# sourceMappingURL=index.css.map */
