body {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: Helvetica, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif; }

.font-10 {
  font-size: 10px; }

.font-12 {
  font-size: 12px; }

.font-14 {
  font-size: 14px; }

.font-16 {
  font-size: 16px; }

.font-18 {
  font-size: 18px; }

.flex-row {
  display: flex;
  flex-direction: row !important; }

.flex-column {
  display: flex;
  flex-direction: column !important; }

.flex-grow {
  flex: 1; }

.flex-center {
  display: flex;
  justify-content: center !important;
  align-items: center !important; }

.flex-j-center {
  display: flex;
  justify-content: center !important; }

.flex-a-center {
  display: flex;
  align-items: center !important; }

.abs-area {
  position: absolute; }

.rel-area {
  position: relative; }

.abs-max {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.abs-left {
  left: 0; }

.abs-right {
  right: 0; }

.abs-top {
  top: 0; }

.abs-bottom {
  bottom: 0; }

.abs-max-height {
  top: 0;
  bottom: 0; }

.abs-max-width {
  right: 0;
  left: 0; }

.cc-primary-color_default {
  color: #66bdef; }

.cc-primary-color_light {
  color: #ebf6ff; }

.cc-primary-color_dark {
  color: #1e99e8; }

.cc-primary-bg_default {
  background-color: #66bdef; }

.cc-primary-bg_light {
  background-color: #ebf6ff; }

.cc-primary-bg_dark {
  background-color: #1e99e8; }

.cc-black-color_default {
  color: #363636; }

.cc-black-color_light {
  color: #1A293A; }

.cc-black-color_dark {
  color: #1D2E43; }

.cc-black-bg_default {
  background-color: #363636; }

.cc-black-bg_light {
  background-color: #1A293A; }

.cc-black-bg_dark {
  background-color: #1D2E43; }

.cc-blue-color_default {
  color: #59b9f7; }

.cc-blue-color_light {
  color: #dcebf7; }

.cc-blue-color_dark {
  color: #139eff; }

.cc-blue-bg_default {
  background-color: #59b9f7; }

.cc-blue-bg_light {
  background-color: #dcebf7; }

.cc-blue-bg_dark {
  background-color: #139eff; }

.cc-white-color_default {
  color: #FFFFFF; }

.cc-white-color_light {
  color: #ECF0F0; }

.cc-white-color_dark {
  color: #d3d3d3; }

.cc-white-bg_default {
  background-color: #FFFFFF; }

.cc-white-bg_light {
  background-color: #ECF0F0; }

.cc-white-bg_dark {
  background-color: #d3d3d3; }

.cc-green-color_default {
  color: #61bec6; }

.cc-green-color_light {
  color: #d6e9ed; }

.cc-green-color_dark {
  color: #0de2e2; }

.cc-green-bg_default {
  background-color: #61bec6; }

.cc-green-bg_light {
  background-color: #d6e9ed; }

.cc-green-bg_dark {
  background-color: #0de2e2; }

.cc-gray-color_default {
  color: #7e8996; }

.cc-gray-color_light {
  color: #b2c5d6; }

.cc-gray-color_dark {
  color: #565e66; }

.cc-gray-bg_default {
  background-color: #7e8996; }

.cc-gray-bg_light {
  background-color: #b2c5d6; }

.cc-gray-bg_dark {
  background-color: #565e66; }

.cc-yellow-color_default {
  color: #ffa503; }

.cc-yellow-color_light {
  color: #ffb74b; }

.cc-yellow-color_dark {
  color: #e0952f; }

.cc-yellow-bg_default {
  background-color: #ffa503; }

.cc-yellow-bg_light {
  background-color: #ffb74b; }

.cc-yellow-bg_dark {
  background-color: #e0952f; }

.cc-pink-color_default {
  color: #e83e8c; }

.cc-pink-color_light {
  color: #e870ab; }

.cc-pink-color_dark {
  color: #e80f7c; }

.cc-pink-bg_default {
  background-color: #e83e8c; }

.cc-pink-bg_light {
  background-color: #e870ab; }

.cc-pink-bg_dark {
  background-color: #e80f7c; }

.cc-purple-color_default {
  color: #b07cff; }

.cc-purple-color_light {
  color: #b8aade; }

.cc-purple-color_dark {
  color: #7f50c6; }

.cc-purple-bg_default {
  background-color: #b07cff; }

.cc-purple-bg_light {
  background-color: #b8aade; }

.cc-purple-bg_dark {
  background-color: #7f50c6; }

.cc-red-color_default {
  color: #ff4d55; }

.cc-red-color_light {
  color: #ff7d7f; }

.cc-red-color_dark {
  color: #ff2325; }

.cc-red-bg_default {
  background-color: #ff4d55; }

.cc-red-bg_light {
  background-color: #ff7d7f; }

.cc-red-bg_dark {
  background-color: #ff2325; }

.cc-toolbar {
  background-color: #FFFFFF;
  padding: 5px 10px;
  margin-bottom: 5px; }
  .cc-toolbar .title {
    font-size: 14px;
    color: #565e66; }
  .cc-toolbar .cc-toolbar-item {
    min-height: 35px; }
    .cc-toolbar .cc-toolbar-item .cc-toolbar-item__contain > * {
      margin-right: 5px !important; }

.cc-primary-color_default {
  color: #66bdef; }

.cc-primary-color_light {
  color: #ebf6ff; }

.cc-primary-color_dark {
  color: #1e99e8; }

.cc-primary-bg_default {
  background-color: #66bdef; }

.cc-primary-bg_light {
  background-color: #ebf6ff; }

.cc-primary-bg_dark {
  background-color: #1e99e8; }

.cc-black-color_default {
  color: #363636; }

.cc-black-color_light {
  color: #1A293A; }

.cc-black-color_dark {
  color: #1D2E43; }

.cc-black-bg_default {
  background-color: #363636; }

.cc-black-bg_light {
  background-color: #1A293A; }

.cc-black-bg_dark {
  background-color: #1D2E43; }

.cc-blue-color_default {
  color: #59b9f7; }

.cc-blue-color_light {
  color: #dcebf7; }

.cc-blue-color_dark {
  color: #139eff; }

.cc-blue-bg_default {
  background-color: #59b9f7; }

.cc-blue-bg_light {
  background-color: #dcebf7; }

.cc-blue-bg_dark {
  background-color: #139eff; }

.cc-white-color_default {
  color: #FFFFFF; }

.cc-white-color_light {
  color: #ECF0F0; }

.cc-white-color_dark {
  color: #d3d3d3; }

.cc-white-bg_default {
  background-color: #FFFFFF; }

.cc-white-bg_light {
  background-color: #ECF0F0; }

.cc-white-bg_dark {
  background-color: #d3d3d3; }

.cc-green-color_default {
  color: #61bec6; }

.cc-green-color_light {
  color: #d6e9ed; }

.cc-green-color_dark {
  color: #0de2e2; }

.cc-green-bg_default {
  background-color: #61bec6; }

.cc-green-bg_light {
  background-color: #d6e9ed; }

.cc-green-bg_dark {
  background-color: #0de2e2; }

.cc-gray-color_default {
  color: #7e8996; }

.cc-gray-color_light {
  color: #b2c5d6; }

.cc-gray-color_dark {
  color: #565e66; }

.cc-gray-bg_default {
  background-color: #7e8996; }

.cc-gray-bg_light {
  background-color: #b2c5d6; }

.cc-gray-bg_dark {
  background-color: #565e66; }

.cc-yellow-color_default {
  color: #ffa503; }

.cc-yellow-color_light {
  color: #ffb74b; }

.cc-yellow-color_dark {
  color: #e0952f; }

.cc-yellow-bg_default {
  background-color: #ffa503; }

.cc-yellow-bg_light {
  background-color: #ffb74b; }

.cc-yellow-bg_dark {
  background-color: #e0952f; }

.cc-pink-color_default {
  color: #e83e8c; }

.cc-pink-color_light {
  color: #e870ab; }

.cc-pink-color_dark {
  color: #e80f7c; }

.cc-pink-bg_default {
  background-color: #e83e8c; }

.cc-pink-bg_light {
  background-color: #e870ab; }

.cc-pink-bg_dark {
  background-color: #e80f7c; }

.cc-purple-color_default {
  color: #b07cff; }

.cc-purple-color_light {
  color: #b8aade; }

.cc-purple-color_dark {
  color: #7f50c6; }

.cc-purple-bg_default {
  background-color: #b07cff; }

.cc-purple-bg_light {
  background-color: #b8aade; }

.cc-purple-bg_dark {
  background-color: #7f50c6; }

.cc-red-color_default {
  color: #ff4d55; }

.cc-red-color_light {
  color: #ff7d7f; }

.cc-red-color_dark {
  color: #ff2325; }

.cc-red-bg_default {
  background-color: #ff4d55; }

.cc-red-bg_light {
  background-color: #ff7d7f; }

.cc-red-bg_dark {
  background-color: #ff2325; }

.hidden {
  width: 50px !important; }
  .hidden .cc-menu-item__children {
    display: none !important; }
  .hidden .cc-menu-item__icon {
    margin-left: 5px !important; }

.cc-menu {
  width: 240px;
  overflow: hidden;
  background-color: #1D2E43;
  transition: width .3s; }
  .cc-menu .cc-menu-header {
    height: 70px; }
  .cc-menu .choose-title > .cc-menu-item__content {
    background-color: #1A293A;
    color: #ECF0F0 !important; }
    .cc-menu .choose-title > .cc-menu-item__content:hover {
      background-color: #1A293A; }
  .cc-menu .choose-title > div .cc-menu-item__toggle {
    transform: rotate(90deg); }
  .cc-menu .choose-title > .cc-menu-item__children_1 {
    height: 40px !important; }
  .cc-menu .choose-title > .cc-menu-item__children_2 {
    height: 80px !important; }
  .cc-menu .choose-title > .cc-menu-item__children_3 {
    height: 120px !important; }
  .cc-menu .choose-title > .cc-menu-item__children_4 {
    height: 160px !important; }
  .cc-menu .choose-title > .cc-menu-item__children_5 {
    height: 200px !important; }
  .cc-menu .choose-title > .cc-menu-item__children_6 {
    height: 240px !important; }
  .cc-menu .choose-title > .cc-menu-item__children_7 {
    height: 280px !important; }
  .cc-menu .choose-title > .cc-menu-item__children_8 {
    height: 320px !important; }
  .cc-menu .choose-title > .cc-menu-item__children_9 {
    height: 360px !important; }
  .cc-menu .choose-title > .cc-menu-item__children_10 {
    height: 400px !important; }
  .cc-menu .cc-menu-item {
    list-style: none;
    margin: 0;
    padding: 0; }
    .cc-menu .cc-menu-item .cc-menu-item__contain {
      margin: 2px 0;
      overflow: hidden;
      white-space: nowrap; }
      .cc-menu .cc-menu-item .cc-menu-item__contain .choose-node {
        background-color: #1A293A;
        color: #66bdef !important; }
        .cc-menu .cc-menu-item .cc-menu-item__contain .choose-node:hover {
          background-color: #1A293A; }
      .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__content {
        height: 50px;
        line-height: 50px;
        color: #7e8996;
        transition: all .3s;
        cursor: pointer; }
        .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__content:hover {
          color: #b2c5d6;
          background-color: #1A293A; }
        .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__content .cc-menu-item__icon {
          min-width: 40px;
          max-width: 40px;
          margin-left: 10px; }
        .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__content .cc-menu-item__label {
          padding-left: 10px; }
        .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__content .cc-menu-item__toggle {
          width: 40px;
          text-align: center;
          transition: transform .3s; }
      .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__children {
        height: 0;
        overflow: hidden;
        transition: height .2s; }
        .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__children .cc-menu-item__contain {
          margin: 0; }
        .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__children .cc-menu-item__content {
          height: 40px;
          line-height: 40px; }
          .cc-menu .cc-menu-item .cc-menu-item__contain .cc-menu-item__children .cc-menu-item__content .cc-menu-item__toggle {
            display: none; }

.cc-primary-color_default {
  color: #66bdef; }

.cc-primary-color_light {
  color: #ebf6ff; }

.cc-primary-color_dark {
  color: #1e99e8; }

.cc-primary-bg_default {
  background-color: #66bdef; }

.cc-primary-bg_light {
  background-color: #ebf6ff; }

.cc-primary-bg_dark {
  background-color: #1e99e8; }

.cc-black-color_default {
  color: #363636; }

.cc-black-color_light {
  color: #1A293A; }

.cc-black-color_dark {
  color: #1D2E43; }

.cc-black-bg_default {
  background-color: #363636; }

.cc-black-bg_light {
  background-color: #1A293A; }

.cc-black-bg_dark {
  background-color: #1D2E43; }

.cc-blue-color_default {
  color: #59b9f7; }

.cc-blue-color_light {
  color: #dcebf7; }

.cc-blue-color_dark {
  color: #139eff; }

.cc-blue-bg_default {
  background-color: #59b9f7; }

.cc-blue-bg_light {
  background-color: #dcebf7; }

.cc-blue-bg_dark {
  background-color: #139eff; }

.cc-white-color_default {
  color: #FFFFFF; }

.cc-white-color_light {
  color: #ECF0F0; }

.cc-white-color_dark {
  color: #d3d3d3; }

.cc-white-bg_default {
  background-color: #FFFFFF; }

.cc-white-bg_light {
  background-color: #ECF0F0; }

.cc-white-bg_dark {
  background-color: #d3d3d3; }

.cc-green-color_default {
  color: #61bec6; }

.cc-green-color_light {
  color: #d6e9ed; }

.cc-green-color_dark {
  color: #0de2e2; }

.cc-green-bg_default {
  background-color: #61bec6; }

.cc-green-bg_light {
  background-color: #d6e9ed; }

.cc-green-bg_dark {
  background-color: #0de2e2; }

.cc-gray-color_default {
  color: #7e8996; }

.cc-gray-color_light {
  color: #b2c5d6; }

.cc-gray-color_dark {
  color: #565e66; }

.cc-gray-bg_default {
  background-color: #7e8996; }

.cc-gray-bg_light {
  background-color: #b2c5d6; }

.cc-gray-bg_dark {
  background-color: #565e66; }

.cc-yellow-color_default {
  color: #ffa503; }

.cc-yellow-color_light {
  color: #ffb74b; }

.cc-yellow-color_dark {
  color: #e0952f; }

.cc-yellow-bg_default {
  background-color: #ffa503; }

.cc-yellow-bg_light {
  background-color: #ffb74b; }

.cc-yellow-bg_dark {
  background-color: #e0952f; }

.cc-pink-color_default {
  color: #e83e8c; }

.cc-pink-color_light {
  color: #e870ab; }

.cc-pink-color_dark {
  color: #e80f7c; }

.cc-pink-bg_default {
  background-color: #e83e8c; }

.cc-pink-bg_light {
  background-color: #e870ab; }

.cc-pink-bg_dark {
  background-color: #e80f7c; }

.cc-purple-color_default {
  color: #b07cff; }

.cc-purple-color_light {
  color: #b8aade; }

.cc-purple-color_dark {
  color: #7f50c6; }

.cc-purple-bg_default {
  background-color: #b07cff; }

.cc-purple-bg_light {
  background-color: #b8aade; }

.cc-purple-bg_dark {
  background-color: #7f50c6; }

.cc-red-color_default {
  color: #ff4d55; }

.cc-red-color_light {
  color: #ff7d7f; }

.cc-red-color_dark {
  color: #ff2325; }

.cc-red-bg_default {
  background-color: #ff4d55; }

.cc-red-bg_light {
  background-color: #ff7d7f; }

.cc-red-bg_dark {
  background-color: #ff2325; }

.el-table .mCSB_inside > .mCSB_container {
  margin-right: 10px; }
.el-table .expand-body {
  background-color: #d3d3d3 !important; }
.el-table td, .el-table th {
  border-color: rgba(0, 0, 0, 0.07) !important; }
.el-table .is-checked .el-checkbox__inner {
  background-color: #66bdef !important; }
.el-table .is-disabled .el-checkbox__inner {
  background-color: #d3d3d3; }
.el-table th {
  border-bottom: 2px solid rgba(0, 0, 0, 0.07) !important; }
  .el-table th > div {
    min-height: 40px !important;
    display: inline-flex !important;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    color: #1A293A;
    font-weight: bold; }
.el-table td, .el-table th {
  color: #363636; }
  .el-table td > div, .el-table th > div {
    background-color: transparent; }
.el-table .el-table__row:hover tr, .el-table .el-table__row:hover td {
  background-color: #ebf6ff !important; }
.el-table .el-table__body-wrapper .current-row tr, .el-table .el-table__body-wrapper .current-row td {
  background-color: #66bdef !important;
  color: #FFFFFF; }
.el-table .el-table__expanded-cell {
  background-color: transparent; }
  .el-table .el-table__expanded-cell > div {
    background-color: transparent; }
.el-table .el-table__expanded-cell:hover {
  background-color: transparent; }

.table-footer-bar {
  background-color: #FFFFFF;
  padding: 5px 10px; }

.el-pagination li:hover {
  color: #66bdef !important; }
.el-pagination .active {
  color: #1e99e8 !important; }
  .el-pagination .active:hover {
    color: #1e99e8 !important; }

.cc-primary-color_default {
  color: #66bdef; }

.cc-primary-color_light {
  color: #ebf6ff; }

.cc-primary-color_dark {
  color: #1e99e8; }

.cc-primary-bg_default {
  background-color: #66bdef; }

.cc-primary-bg_light {
  background-color: #ebf6ff; }

.cc-primary-bg_dark {
  background-color: #1e99e8; }

.cc-black-color_default {
  color: #363636; }

.cc-black-color_light {
  color: #1A293A; }

.cc-black-color_dark {
  color: #1D2E43; }

.cc-black-bg_default {
  background-color: #363636; }

.cc-black-bg_light {
  background-color: #1A293A; }

.cc-black-bg_dark {
  background-color: #1D2E43; }

.cc-blue-color_default {
  color: #59b9f7; }

.cc-blue-color_light {
  color: #dcebf7; }

.cc-blue-color_dark {
  color: #139eff; }

.cc-blue-bg_default {
  background-color: #59b9f7; }

.cc-blue-bg_light {
  background-color: #dcebf7; }

.cc-blue-bg_dark {
  background-color: #139eff; }

.cc-white-color_default {
  color: #FFFFFF; }

.cc-white-color_light {
  color: #ECF0F0; }

.cc-white-color_dark {
  color: #d3d3d3; }

.cc-white-bg_default {
  background-color: #FFFFFF; }

.cc-white-bg_light {
  background-color: #ECF0F0; }

.cc-white-bg_dark {
  background-color: #d3d3d3; }

.cc-green-color_default {
  color: #61bec6; }

.cc-green-color_light {
  color: #d6e9ed; }

.cc-green-color_dark {
  color: #0de2e2; }

.cc-green-bg_default {
  background-color: #61bec6; }

.cc-green-bg_light {
  background-color: #d6e9ed; }

.cc-green-bg_dark {
  background-color: #0de2e2; }

.cc-gray-color_default {
  color: #7e8996; }

.cc-gray-color_light {
  color: #b2c5d6; }

.cc-gray-color_dark {
  color: #565e66; }

.cc-gray-bg_default {
  background-color: #7e8996; }

.cc-gray-bg_light {
  background-color: #b2c5d6; }

.cc-gray-bg_dark {
  background-color: #565e66; }

.cc-yellow-color_default {
  color: #ffa503; }

.cc-yellow-color_light {
  color: #ffb74b; }

.cc-yellow-color_dark {
  color: #e0952f; }

.cc-yellow-bg_default {
  background-color: #ffa503; }

.cc-yellow-bg_light {
  background-color: #ffb74b; }

.cc-yellow-bg_dark {
  background-color: #e0952f; }

.cc-pink-color_default {
  color: #e83e8c; }

.cc-pink-color_light {
  color: #e870ab; }

.cc-pink-color_dark {
  color: #e80f7c; }

.cc-pink-bg_default {
  background-color: #e83e8c; }

.cc-pink-bg_light {
  background-color: #e870ab; }

.cc-pink-bg_dark {
  background-color: #e80f7c; }

.cc-purple-color_default {
  color: #b07cff; }

.cc-purple-color_light {
  color: #b8aade; }

.cc-purple-color_dark {
  color: #7f50c6; }

.cc-purple-bg_default {
  background-color: #b07cff; }

.cc-purple-bg_light {
  background-color: #b8aade; }

.cc-purple-bg_dark {
  background-color: #7f50c6; }

.cc-red-color_default {
  color: #ff4d55; }

.cc-red-color_light {
  color: #ff7d7f; }

.cc-red-color_dark {
  color: #ff2325; }

.cc-red-bg_default {
  background-color: #ff4d55; }

.cc-red-bg_light {
  background-color: #ff7d7f; }

.cc-red-bg_dark {
  background-color: #ff2325; }

.cc-form textarea {
  resize: none; }

.cc-primary-color_default {
  color: #66bdef; }

.cc-primary-color_light {
  color: #ebf6ff; }

.cc-primary-color_dark {
  color: #1e99e8; }

.cc-primary-bg_default {
  background-color: #66bdef; }

.cc-primary-bg_light {
  background-color: #ebf6ff; }

.cc-primary-bg_dark {
  background-color: #1e99e8; }

.cc-black-color_default {
  color: #363636; }

.cc-black-color_light {
  color: #1A293A; }

.cc-black-color_dark {
  color: #1D2E43; }

.cc-black-bg_default {
  background-color: #363636; }

.cc-black-bg_light {
  background-color: #1A293A; }

.cc-black-bg_dark {
  background-color: #1D2E43; }

.cc-blue-color_default {
  color: #59b9f7; }

.cc-blue-color_light {
  color: #dcebf7; }

.cc-blue-color_dark {
  color: #139eff; }

.cc-blue-bg_default {
  background-color: #59b9f7; }

.cc-blue-bg_light {
  background-color: #dcebf7; }

.cc-blue-bg_dark {
  background-color: #139eff; }

.cc-white-color_default {
  color: #FFFFFF; }

.cc-white-color_light {
  color: #ECF0F0; }

.cc-white-color_dark {
  color: #d3d3d3; }

.cc-white-bg_default {
  background-color: #FFFFFF; }

.cc-white-bg_light {
  background-color: #ECF0F0; }

.cc-white-bg_dark {
  background-color: #d3d3d3; }

.cc-green-color_default {
  color: #61bec6; }

.cc-green-color_light {
  color: #d6e9ed; }

.cc-green-color_dark {
  color: #0de2e2; }

.cc-green-bg_default {
  background-color: #61bec6; }

.cc-green-bg_light {
  background-color: #d6e9ed; }

.cc-green-bg_dark {
  background-color: #0de2e2; }

.cc-gray-color_default {
  color: #7e8996; }

.cc-gray-color_light {
  color: #b2c5d6; }

.cc-gray-color_dark {
  color: #565e66; }

.cc-gray-bg_default {
  background-color: #7e8996; }

.cc-gray-bg_light {
  background-color: #b2c5d6; }

.cc-gray-bg_dark {
  background-color: #565e66; }

.cc-yellow-color_default {
  color: #ffa503; }

.cc-yellow-color_light {
  color: #ffb74b; }

.cc-yellow-color_dark {
  color: #e0952f; }

.cc-yellow-bg_default {
  background-color: #ffa503; }

.cc-yellow-bg_light {
  background-color: #ffb74b; }

.cc-yellow-bg_dark {
  background-color: #e0952f; }

.cc-pink-color_default {
  color: #e83e8c; }

.cc-pink-color_light {
  color: #e870ab; }

.cc-pink-color_dark {
  color: #e80f7c; }

.cc-pink-bg_default {
  background-color: #e83e8c; }

.cc-pink-bg_light {
  background-color: #e870ab; }

.cc-pink-bg_dark {
  background-color: #e80f7c; }

.cc-purple-color_default {
  color: #b07cff; }

.cc-purple-color_light {
  color: #b8aade; }

.cc-purple-color_dark {
  color: #7f50c6; }

.cc-purple-bg_default {
  background-color: #b07cff; }

.cc-purple-bg_light {
  background-color: #b8aade; }

.cc-purple-bg_dark {
  background-color: #7f50c6; }

.cc-red-color_default {
  color: #ff4d55; }

.cc-red-color_light {
  color: #ff7d7f; }

.cc-red-color_dark {
  color: #ff2325; }

.cc-red-bg_default {
  background-color: #ff4d55; }

.cc-red-bg_light {
  background-color: #ff7d7f; }

.cc-red-bg_dark {
  background-color: #ff2325; }

.el-button {
  border-color: rgba(255, 255, 255, 0.125) !important;
  background-color: #d3d3d3 !important; }

.el-button.is-disabled {
  background-color: #7e8996 !important;
  border-color: #b2c5d6 !important; }
  .el-button.is-disabled span {
    color: #b2c5d6 !important; }
  .el-button.is-disabled:hover {
    background-color: #7e8996 !important; }

.el-button--info {
  background-color: #b2c5d6 !important; }
  .el-button--info span {
    color: #FFFFFF !important; }
  .el-button--info:hover {
    background-color: #7e8996 !important; }

.el-button--default {
  background-color: #b2c5d6 !important; }
  .el-button--default span {
    color: #FFFFFF !important; }
  .el-button--default:hover {
    background-color: #7e8996 !important; }

.el-button--warning {
  background-color: #ffb74b !important; }
  .el-button--warning:hover {
    background-color: #ffa503 !important; }

.el-button--danger {
  background-color: #ff7d7f !important; }
  .el-button--danger:hover {
    background-color: #ff4d55 !important; }

.el-button--primary {
  background-color: #66bdef !important; }
  .el-button--primary:hover {
    background-color: #1e99e8 !important; }

.el-button--blue {
  background-color: #59b9f7 !important; }
  .el-button--blue span {
    color: #FFFFFF !important; }
  .el-button--blue:hover {
    background-color: #139eff !important; }

.el-button--pink {
  background-color: #e870ab !important;
  color: #FFFFFF !important; }
  .el-button--pink:hover {
    background-color: #e83e8c !important; }

.el-button--purple {
  background-color: #b8aade !important;
  color: #FFFFFF !important; }
  .el-button--purple:hover {
    background-color: #b07cff !important; }

.el-button--green {
  background-color: #d6e9ed !important;
  color: #FFFFFF !important; }
  .el-button--green:hover {
    background-color: #61bec6 !important; }

.cc-primary-color_default {
  color: #66bdef; }

.cc-primary-color_light {
  color: #ebf6ff; }

.cc-primary-color_dark {
  color: #1e99e8; }

.cc-primary-bg_default {
  background-color: #66bdef; }

.cc-primary-bg_light {
  background-color: #ebf6ff; }

.cc-primary-bg_dark {
  background-color: #1e99e8; }

.cc-black-color_default {
  color: #363636; }

.cc-black-color_light {
  color: #1A293A; }

.cc-black-color_dark {
  color: #1D2E43; }

.cc-black-bg_default {
  background-color: #363636; }

.cc-black-bg_light {
  background-color: #1A293A; }

.cc-black-bg_dark {
  background-color: #1D2E43; }

.cc-blue-color_default {
  color: #59b9f7; }

.cc-blue-color_light {
  color: #dcebf7; }

.cc-blue-color_dark {
  color: #139eff; }

.cc-blue-bg_default {
  background-color: #59b9f7; }

.cc-blue-bg_light {
  background-color: #dcebf7; }

.cc-blue-bg_dark {
  background-color: #139eff; }

.cc-white-color_default {
  color: #FFFFFF; }

.cc-white-color_light {
  color: #ECF0F0; }

.cc-white-color_dark {
  color: #d3d3d3; }

.cc-white-bg_default {
  background-color: #FFFFFF; }

.cc-white-bg_light {
  background-color: #ECF0F0; }

.cc-white-bg_dark {
  background-color: #d3d3d3; }

.cc-green-color_default {
  color: #61bec6; }

.cc-green-color_light {
  color: #d6e9ed; }

.cc-green-color_dark {
  color: #0de2e2; }

.cc-green-bg_default {
  background-color: #61bec6; }

.cc-green-bg_light {
  background-color: #d6e9ed; }

.cc-green-bg_dark {
  background-color: #0de2e2; }

.cc-gray-color_default {
  color: #7e8996; }

.cc-gray-color_light {
  color: #b2c5d6; }

.cc-gray-color_dark {
  color: #565e66; }

.cc-gray-bg_default {
  background-color: #7e8996; }

.cc-gray-bg_light {
  background-color: #b2c5d6; }

.cc-gray-bg_dark {
  background-color: #565e66; }

.cc-yellow-color_default {
  color: #ffa503; }

.cc-yellow-color_light {
  color: #ffb74b; }

.cc-yellow-color_dark {
  color: #e0952f; }

.cc-yellow-bg_default {
  background-color: #ffa503; }

.cc-yellow-bg_light {
  background-color: #ffb74b; }

.cc-yellow-bg_dark {
  background-color: #e0952f; }

.cc-pink-color_default {
  color: #e83e8c; }

.cc-pink-color_light {
  color: #e870ab; }

.cc-pink-color_dark {
  color: #e80f7c; }

.cc-pink-bg_default {
  background-color: #e83e8c; }

.cc-pink-bg_light {
  background-color: #e870ab; }

.cc-pink-bg_dark {
  background-color: #e80f7c; }

.cc-purple-color_default {
  color: #b07cff; }

.cc-purple-color_light {
  color: #b8aade; }

.cc-purple-color_dark {
  color: #7f50c6; }

.cc-purple-bg_default {
  background-color: #b07cff; }

.cc-purple-bg_light {
  background-color: #b8aade; }

.cc-purple-bg_dark {
  background-color: #7f50c6; }

.cc-red-color_default {
  color: #ff4d55; }

.cc-red-color_light {
  color: #ff7d7f; }

.cc-red-color_dark {
  color: #ff2325; }

.cc-red-bg_default {
  background-color: #ff4d55; }

.cc-red-bg_light {
  background-color: #ff7d7f; }

.cc-red-bg_dark {
  background-color: #ff2325; }

.cc-dialog .el-dialog {
  background-color: #d3d3d3; }
.cc-dialog .el-dialog__body {
  padding: 10px 20px; }
.cc-dialog .el-dialog__title {
  color: #565e66 !important; }

.cc-primary-color_default {
  color: #66bdef; }

.cc-primary-color_light {
  color: #ebf6ff; }

.cc-primary-color_dark {
  color: #1e99e8; }

.cc-primary-bg_default {
  background-color: #66bdef; }

.cc-primary-bg_light {
  background-color: #ebf6ff; }

.cc-primary-bg_dark {
  background-color: #1e99e8; }

.cc-black-color_default {
  color: #363636; }

.cc-black-color_light {
  color: #1A293A; }

.cc-black-color_dark {
  color: #1D2E43; }

.cc-black-bg_default {
  background-color: #363636; }

.cc-black-bg_light {
  background-color: #1A293A; }

.cc-black-bg_dark {
  background-color: #1D2E43; }

.cc-blue-color_default {
  color: #59b9f7; }

.cc-blue-color_light {
  color: #dcebf7; }

.cc-blue-color_dark {
  color: #139eff; }

.cc-blue-bg_default {
  background-color: #59b9f7; }

.cc-blue-bg_light {
  background-color: #dcebf7; }

.cc-blue-bg_dark {
  background-color: #139eff; }

.cc-white-color_default {
  color: #FFFFFF; }

.cc-white-color_light {
  color: #ECF0F0; }

.cc-white-color_dark {
  color: #d3d3d3; }

.cc-white-bg_default {
  background-color: #FFFFFF; }

.cc-white-bg_light {
  background-color: #ECF0F0; }

.cc-white-bg_dark {
  background-color: #d3d3d3; }

.cc-green-color_default {
  color: #61bec6; }

.cc-green-color_light {
  color: #d6e9ed; }

.cc-green-color_dark {
  color: #0de2e2; }

.cc-green-bg_default {
  background-color: #61bec6; }

.cc-green-bg_light {
  background-color: #d6e9ed; }

.cc-green-bg_dark {
  background-color: #0de2e2; }

.cc-gray-color_default {
  color: #7e8996; }

.cc-gray-color_light {
  color: #b2c5d6; }

.cc-gray-color_dark {
  color: #565e66; }

.cc-gray-bg_default {
  background-color: #7e8996; }

.cc-gray-bg_light {
  background-color: #b2c5d6; }

.cc-gray-bg_dark {
  background-color: #565e66; }

.cc-yellow-color_default {
  color: #ffa503; }

.cc-yellow-color_light {
  color: #ffb74b; }

.cc-yellow-color_dark {
  color: #e0952f; }

.cc-yellow-bg_default {
  background-color: #ffa503; }

.cc-yellow-bg_light {
  background-color: #ffb74b; }

.cc-yellow-bg_dark {
  background-color: #e0952f; }

.cc-pink-color_default {
  color: #e83e8c; }

.cc-pink-color_light {
  color: #e870ab; }

.cc-pink-color_dark {
  color: #e80f7c; }

.cc-pink-bg_default {
  background-color: #e83e8c; }

.cc-pink-bg_light {
  background-color: #e870ab; }

.cc-pink-bg_dark {
  background-color: #e80f7c; }

.cc-purple-color_default {
  color: #b07cff; }

.cc-purple-color_light {
  color: #b8aade; }

.cc-purple-color_dark {
  color: #7f50c6; }

.cc-purple-bg_default {
  background-color: #b07cff; }

.cc-purple-bg_light {
  background-color: #b8aade; }

.cc-purple-bg_dark {
  background-color: #7f50c6; }

.cc-red-color_default {
  color: #ff4d55; }

.cc-red-color_light {
  color: #ff7d7f; }

.cc-red-color_dark {
  color: #ff2325; }

.cc-red-bg_default {
  background-color: #ff4d55; }

.cc-red-bg_light {
  background-color: #ff7d7f; }

.cc-red-bg_dark {
  background-color: #ff2325; }

.cc-popover {
  margin: 10px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  z-index: 2000; }
  .cc-popover .cc-popover-menu-contain {
    margin: 0;
    padding: 0;
    list-style: none;
    /*overflow: hidden;*/ }
    .cc-popover .cc-popover-menu-contain .cc-popover-menu-item {
      height: 40px;
      line-height: 40px;
      min-width: 100px;
      max-width: 100px;
      cursor: pointer; }
      .cc-popover .cc-popover-menu-contain .cc-popover-menu-item .content-area {
        transition: all .3s;
        opacity: 0;
        top: 40px;
        left: 20px;
        height: 0;
        overflow: hidden;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        min-width: 600px; }
  .cc-popover .scrollbar-contain {
    height: 10px;
    bottom: 0; }
    .cc-popover .scrollbar-contain .scrollbar-item {
      opacity: 0;
      display: inline-block;
      border-bottom: 10px solid #53b5ef;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      transition: all .2s; }

.popover-button-group {
  display: inline-flex; }

.popover-btn {
  border-left-width: 0 !important;
  border-radius: 0 !important;
  overflow: hidden; }
  .popover-btn span {
    margin: 0 !important; }
  .popover-btn button {
    border-left-width: 0 !important;
    border-radius: 0 !important;
    overflow: hidden; }
  .popover-btn:first-child {
    border-left-width: 1px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important; }
    .popover-btn:first-child button {
      border-left-width: 1px !important;
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important; }
  .popover-btn:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important; }
    .popover-btn:last-child button {
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important; }

h3 {
  margin-bottom: 0; }

.el-popover {
  padding: 0 !important; }
  .el-popover .cc-popover-footer {
    height: 50px; }

.cc-primary-color_default {
  color: #66bdef; }

.cc-primary-color_light {
  color: #ebf6ff; }

.cc-primary-color_dark {
  color: #1e99e8; }

.cc-primary-bg_default {
  background-color: #66bdef; }

.cc-primary-bg_light {
  background-color: #ebf6ff; }

.cc-primary-bg_dark {
  background-color: #1e99e8; }

.cc-black-color_default {
  color: #363636; }

.cc-black-color_light {
  color: #1A293A; }

.cc-black-color_dark {
  color: #1D2E43; }

.cc-black-bg_default {
  background-color: #363636; }

.cc-black-bg_light {
  background-color: #1A293A; }

.cc-black-bg_dark {
  background-color: #1D2E43; }

.cc-blue-color_default {
  color: #59b9f7; }

.cc-blue-color_light {
  color: #dcebf7; }

.cc-blue-color_dark {
  color: #139eff; }

.cc-blue-bg_default {
  background-color: #59b9f7; }

.cc-blue-bg_light {
  background-color: #dcebf7; }

.cc-blue-bg_dark {
  background-color: #139eff; }

.cc-white-color_default {
  color: #FFFFFF; }

.cc-white-color_light {
  color: #ECF0F0; }

.cc-white-color_dark {
  color: #d3d3d3; }

.cc-white-bg_default {
  background-color: #FFFFFF; }

.cc-white-bg_light {
  background-color: #ECF0F0; }

.cc-white-bg_dark {
  background-color: #d3d3d3; }

.cc-green-color_default {
  color: #61bec6; }

.cc-green-color_light {
  color: #d6e9ed; }

.cc-green-color_dark {
  color: #0de2e2; }

.cc-green-bg_default {
  background-color: #61bec6; }

.cc-green-bg_light {
  background-color: #d6e9ed; }

.cc-green-bg_dark {
  background-color: #0de2e2; }

.cc-gray-color_default {
  color: #7e8996; }

.cc-gray-color_light {
  color: #b2c5d6; }

.cc-gray-color_dark {
  color: #565e66; }

.cc-gray-bg_default {
  background-color: #7e8996; }

.cc-gray-bg_light {
  background-color: #b2c5d6; }

.cc-gray-bg_dark {
  background-color: #565e66; }

.cc-yellow-color_default {
  color: #ffa503; }

.cc-yellow-color_light {
  color: #ffb74b; }

.cc-yellow-color_dark {
  color: #e0952f; }

.cc-yellow-bg_default {
  background-color: #ffa503; }

.cc-yellow-bg_light {
  background-color: #ffb74b; }

.cc-yellow-bg_dark {
  background-color: #e0952f; }

.cc-pink-color_default {
  color: #e83e8c; }

.cc-pink-color_light {
  color: #e870ab; }

.cc-pink-color_dark {
  color: #e80f7c; }

.cc-pink-bg_default {
  background-color: #e83e8c; }

.cc-pink-bg_light {
  background-color: #e870ab; }

.cc-pink-bg_dark {
  background-color: #e80f7c; }

.cc-purple-color_default {
  color: #b07cff; }

.cc-purple-color_light {
  color: #b8aade; }

.cc-purple-color_dark {
  color: #7f50c6; }

.cc-purple-bg_default {
  background-color: #b07cff; }

.cc-purple-bg_light {
  background-color: #b8aade; }

.cc-purple-bg_dark {
  background-color: #7f50c6; }

.cc-red-color_default {
  color: #ff4d55; }

.cc-red-color_light {
  color: #ff7d7f; }

.cc-red-color_dark {
  color: #ff2325; }

.cc-red-bg_default {
  background-color: #ff4d55; }

.cc-red-bg_light {
  background-color: #ff7d7f; }

.cc-red-bg_dark {
  background-color: #ff2325; }

.cc-tree .cc-tree-node .cc-tree-node__content {
  min-height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
  .cc-tree .cc-tree-node .cc-tree-node__content:hover {
    background-color: #ebf6ff; }
  .cc-tree .cc-tree-node .cc-tree-node__content .cc-tree-simple-content {
    color: #66bdef;
    font-size: 14px; }
.cc-tree .cc-tree-node .cc-tree-node__icon {
  cursor: pointer;
  min-width: 30px;
  max-width: 30px;
  justify-content: center;
  color: #b2c5d6;
  transition: .2s; }
.cc-tree .cc-tree-node .cc-tree-node__children {
  height: 0;
  transition: height .2s;
  overflow: hidden;
  white-space: nowrap; }

.cc-primary-color_default {
  color: #66bdef; }

.cc-primary-color_light {
  color: #ebf6ff; }

.cc-primary-color_dark {
  color: #1e99e8; }

.cc-primary-bg_default {
  background-color: #66bdef; }

.cc-primary-bg_light {
  background-color: #ebf6ff; }

.cc-primary-bg_dark {
  background-color: #1e99e8; }

.cc-black-color_default {
  color: #363636; }

.cc-black-color_light {
  color: #1A293A; }

.cc-black-color_dark {
  color: #1D2E43; }

.cc-black-bg_default {
  background-color: #363636; }

.cc-black-bg_light {
  background-color: #1A293A; }

.cc-black-bg_dark {
  background-color: #1D2E43; }

.cc-blue-color_default {
  color: #59b9f7; }

.cc-blue-color_light {
  color: #dcebf7; }

.cc-blue-color_dark {
  color: #139eff; }

.cc-blue-bg_default {
  background-color: #59b9f7; }

.cc-blue-bg_light {
  background-color: #dcebf7; }

.cc-blue-bg_dark {
  background-color: #139eff; }

.cc-white-color_default {
  color: #FFFFFF; }

.cc-white-color_light {
  color: #ECF0F0; }

.cc-white-color_dark {
  color: #d3d3d3; }

.cc-white-bg_default {
  background-color: #FFFFFF; }

.cc-white-bg_light {
  background-color: #ECF0F0; }

.cc-white-bg_dark {
  background-color: #d3d3d3; }

.cc-green-color_default {
  color: #61bec6; }

.cc-green-color_light {
  color: #d6e9ed; }

.cc-green-color_dark {
  color: #0de2e2; }

.cc-green-bg_default {
  background-color: #61bec6; }

.cc-green-bg_light {
  background-color: #d6e9ed; }

.cc-green-bg_dark {
  background-color: #0de2e2; }

.cc-gray-color_default {
  color: #7e8996; }

.cc-gray-color_light {
  color: #b2c5d6; }

.cc-gray-color_dark {
  color: #565e66; }

.cc-gray-bg_default {
  background-color: #7e8996; }

.cc-gray-bg_light {
  background-color: #b2c5d6; }

.cc-gray-bg_dark {
  background-color: #565e66; }

.cc-yellow-color_default {
  color: #ffa503; }

.cc-yellow-color_light {
  color: #ffb74b; }

.cc-yellow-color_dark {
  color: #e0952f; }

.cc-yellow-bg_default {
  background-color: #ffa503; }

.cc-yellow-bg_light {
  background-color: #ffb74b; }

.cc-yellow-bg_dark {
  background-color: #e0952f; }

.cc-pink-color_default {
  color: #e83e8c; }

.cc-pink-color_light {
  color: #e870ab; }

.cc-pink-color_dark {
  color: #e80f7c; }

.cc-pink-bg_default {
  background-color: #e83e8c; }

.cc-pink-bg_light {
  background-color: #e870ab; }

.cc-pink-bg_dark {
  background-color: #e80f7c; }

.cc-purple-color_default {
  color: #b07cff; }

.cc-purple-color_light {
  color: #b8aade; }

.cc-purple-color_dark {
  color: #7f50c6; }

.cc-purple-bg_default {
  background-color: #b07cff; }

.cc-purple-bg_light {
  background-color: #b8aade; }

.cc-purple-bg_dark {
  background-color: #7f50c6; }

.cc-red-color_default {
  color: #ff4d55; }

.cc-red-color_light {
  color: #ff7d7f; }

.cc-red-color_dark {
  color: #ff2325; }

.cc-red-bg_default {
  background-color: #ff4d55; }

.cc-red-bg_light {
  background-color: #ff7d7f; }

.cc-red-bg_dark {
  background-color: #ff2325; }

body {
  background-color: #ECF0F0; }

.cc-alter-box {
  position: absolute;
  z-index: 9999;
  min-width: 150px;
  line-height: 25px;
  height: 25px;
  left: 50%;
  padding: 5px;
  border-radius: 4px;
  transform: translateX(-50%);
  opacity: 0;
  top: 0;
  transition: top .3s, opacity .3s, transform .4s;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #dcebf7; }
  .cc-alter-box .cc-alter-box-icon {
    font-size: 24px;
    margin: 0 10px 0 5px;
    width: 20px; }
  .cc-alter-box .cc-alter-box-message {
    text-align: center;
    margin-right: 5px;
    flex-grow: 1;
    color: #b2c5d6; }

.mCSB_draggerRail {
  background-color: #ECF0F0 !important;
  border-radius: 0 !important; }

.mCSB_container {
  display: flex;
  flex-direction: column; }

.mCSB_dragger_bar {
  background-color: #66bdef !important; }
  .mCSB_dragger_bar:hover {
    background-color: #1e99e8 !important; }

.el-select-dropdown .el-select-dropdown__list {
  padding: 0; }
.el-select-dropdown li {
  border-color: rgba(0, 0, 0, 0.07) !important; }

/*# sourceMappingURL=index.css.map */
