@import "../color-default";

.el-button {
  border-color: $cc-border-white !important;
  background-color: $cc-dark-white !important;
}

.el-button.is-disabled {
  background-color: $cc-gray !important;
  border-color: $cc-light-gray !important;

  span {
    color: $cc-light-gray !important;
  }

  &:hover {
    background-color: $cc-gray !important;
  }
}

.el-button--info {
  background-color: $cc-light-gray !important;
  span {
    color: $cc-white !important;
  }

  &:hover {
    background-color: $cc-gray !important;
  }
}

.el-button--default {
  background-color: $cc-light-gray !important;
  span {
    color: $cc-white !important;
  }

  &:hover {
    background-color: $cc-gray !important;
  }
}

.el-button--warning {
  background-color: $cc-light-yellow !important;

  &:hover {
    background-color: $cc-yellow !important;
  }
}

.el-button--danger {
  background-color: $cc-light-red !important;

  &:hover {
    background-color: $cc-red !important;
  }
}

.el-button--primary {
  background-color: $cc-primary !important;

  &:hover {
    background-color: $cc-dark-primary !important;
  }
}

.el-button--blue {
  background-color: $cc-blue !important;
  span {
    color: $cc-white!important;
  }

  &:hover {
    background-color: $cc-dark-blue !important;
  }
}

.el-button--pink {
  background-color: $cc-light-pink !important;
  color: $cc-white !important;

  &:hover {
    background-color: $cc-pink !important;
  }
}

.el-button--purple {
  background-color: $cc-light-purple !important;
  color: $cc-white !important;

  &:hover {
    background-color: $cc-purple !important;
  }
}

.el-button--green {
  background-color: $cc-light-green !important;
  color: $cc-white !important;

  &:hover {
    background-color: $cc-green !important;
  }
}

