@import "../color-default";

.el-table {
  border: 1px solid $cc-border-black !important;


  tr {
    background-color: $cc-dark-black!important;
  }

  .mCSB_inside > .mCSB_container {
    margin-right: 10px;
  }

  .expand-body {
    background-color: $cc-dark-white !important;
  }

  td, th {
    border-color: $cc-border-black !important;
  }

  .el-checkbox__inner {

  }

  .is-checked {
    .el-checkbox__inner {
      background-color: $cc-primary !important;
    }
  }

  .is-disabled {
    .el-checkbox__inner {
      background-color: $cc-dark-white;
    }
  }

  th {
    border-bottom: 2px solid $cc-border-black !important;
    & > div {
      min-height: 40px !important;
      display: inline-flex !important;
      flex-direction: row;
      align-items: center;
      font-size: 16px;
      color: $cc-light-black;
      font-weight: bold;
    }
  }

  td, th {
    color: $cc-black;

    & > div {
      background-color: transparent;
    }
  }

  tr {
    &:hover {
      tr, td {
        background-color: $cc-light-primary !important;
      }
    }
  }

  tr:nth-child(odd) {
  }

  .el-table__body-wrapper {
    .current-row {
      tr, td {
        background-color: $cc-primary !important;
        color: $cc-white;
      }
    }
  }

  .el-table__expanded-cell {
    background-color: transparent;

    & > div {
      background-color: transparent;
    }
  }

  .el-table__expanded-cell:hover {
    background-color: transparent;
  }
}

.table-footer-bar {
  background-color: $cc-white;
  border: 1px solid $cc-border-black;
  padding: 5px 10px;

  .bar-item {
    height: 40px;

    & > div > div {
      margin-right: 5px !important;
    }
  }
}

.el-pagination {
  li {
    &:hover {
      color: $cc-primary !important;
    }
  }
  .active {
    color: $cc-dark-primary !important;
    &:hover {
      color: $cc-dark-primary !important;
    }
  }
}

//  span {
//    color: $cc-black !important;
//  }
//
//  li:hover, button:hover {
//    color: rgba(114, 209, 212, 0.88) !important;
//  }
//
//  button {
//    color: $cc-black !important;
//    border: 1px solid rgba(255, 255, 255, 0.1) !important;
//    background-color: rgba(0, 0, 0, 0.4) !important;
//  }
//
//  input {
//    color: $cc-black !important;
//    border: 1px solid rgba(255, 255, 255, 0.1) !important;
//    background-color: rgba(0, 0, 0, 0.4) !important;
//  }
//
//  li {
//    color: $cc-black !important;
//    border: 1px solid rgba(255, 255, 255, 0.1) !important;
//    background-color: rgba(0, 0, 0, 0.4) !important;
//
//    &:hover {
//      background-color: rgba(43, 120, 177, 0.2) !important;
//    }
//  }
//
//  li.active {
//    color: $cc-black!important;
//    background-color: $cc-light-gray !important;
//  }
//
//  .el-select {
//    .el-input {
//
//      & > input {
//        //background-color: rgba(255, 255, 255, 0.1) !important;
//        //color: $cc-black !important;
//        //border: 1px solid rgba(255, 255, 255, 0.2) !important;
//      }
//    }
//  }
//}
